[2015-11-20 14:16] scav opened #1 "Testing"
For now, there are not any tests in the application. This will change as Angular 2 gets closer to exiting its alpha.

Currently, we are looking for a better strategy than wait(); for asynchronous tests. Feel free to comment if anyone has any pointers or fixes for this.

[2015-12-02 10:37] scav opened #2 "CommentListComponent fetch strategy"
Currently when a comment is added, the application is fetching the last entities in as a pageable resource. We are likely going to have to consider adding items on the fly locally for the user adding a comment if the server is seeing to much load from this.

[2015-12-10 13:45] scav opened #4 "EventEmitter.next should send data"
Some of the event logic inside EventEmitter.next() could be used to transport more data, instead of barely doing anything.

Right now a we have code like the following code, which instead of sending a string, could send a User object to the listening component.

[code]

[2015-12-14 07:04] StigNorland commented on #1
http://blogs.msdn.com/b/typescript/archive/2015/11/03/what-about-async-await.aspx

[2015-12-17 22:48] scav commented on #4
This has been tested and implemented and it is currently in use.

[2015-12-17 22:48] #4 closed

[2016-03-16 15:10] scav opened #7 "Breadcrumbs menu"
Currently its just a simple hack, it needs to be improved.

It is based on a lot of null / not null and hide/show flags in home.component.

[2016-03-16 20:50] StigNorland commented on #7
+1

[2016-03-18 13:54] StigNorland opened #8 "Concepts"
Create a concept component that can add,remove and reorder child concepts.
The root concept will always have a topic as its parent.
and every concept has 0 or more question "attached" to it
questions could be added from a simple dropdown for the time being. (but should be selected from a search-result later on)
the hierarchy should be visual similar to how the comments are drawn.

[2016-04-06 12:26] kksnsd opened #13 "Bug in subconcept"
It just doesn't work when I try to save

[2016-04-06 12:27] kksnsd commented on #13
Try to push the save button

[2016-04-06 12:31] StigNorland commented on #13
It works here.... #

[2016-04-06 13:04] scav commented on #13
Please provide information on which browser you used and what you did when the problem occurred.

[2016-04-07 07:04] #13 closed, assigned to nobody

[2016-04-12 11:57] kksnsd opened #16 "qddt release 12.04.16: attach questions to concepts"
It is not possible to attach questions to concepts. Important for in the near future testing

[2016-04-12 11:59] kksnsd opened #17 "qddt release 12.04.16: Navigation in concepts under menu Concept Toc"
The menu on the right-hand side should list all Complex (parent) and sub (child) concepts in a module, for navigating between concepts while working on the concept level

[2016-04-13 06:30] StigNorland commented on #7
It works, and we'll keep it as it is now, for the time being.

[2016-04-13 06:30] #7 closed, assigned to nobody

[2016-04-13 06:33] #8 closed, assigned to liuy97

[2016-04-13 08:50] liuy97 commented on #17
fixed at [ e26c9c229d](https://github.com/DASISH/qddt-client/commit/e26c9c229d0bcb83ef3b33c25bb092b48d12a85f)

[2016-04-13 08:50] #17 closed, assigned to liuy97

[2016-04-13 09:25] StigNorland opened #18 "Concepts reordering"
move concept to other part of  concept-tree

[2016-04-13 09:26] StigNorland opened #19 "Create page to create responsdomain templates"

[2016-04-13 09:27] StigNorland opened #20 "Create page to select responsdomain template and populate with values"

[2016-04-13 09:31] StigNorland opened #21 "Update Question page, assign responsdomain."

[2016-04-13 10:02] StigNorland opened #22 "All edit_components, when submit, close"
When user press submit, the dialogboxes doesn't close.
this is true for
/survey/edit/survey_edit.components.ts
/study/edit/study_edit.components.ts
/topic/edit/topic_edit.components.ts
/concept/edit/concept_edit.components.ts

[2016-04-13 10:43] StigNorland opened #23 "grid/list edit (questionlist) edit fails"
When selecting an item in a grid for editing, it opens correctly, but when u select anything in modal form, focus changes in list to first element.
Find a way to keep focus on selected item.

[2016-04-19 13:44] liuy97 opened #24 "response domain"
Response domain has to be supported in qddt-client. Category will be implemented as well.

[2016-05-06 09:29] liuy97 commented on #23
I believe this is a bug from material CSS table. It's not a right place to fix this problem here. So I close it.

[2016-05-06 09:29] #23 closed, assigned to liuy97

[2016-05-06 09:32] liuy97 commented on #16
this has been implemented.

[2016-05-06 09:32] #16 closed, assigned to liuy97

[2016-05-06 12:55] liuy97 commented on #22
fix and close

[2016-05-06 12:55] #22 closed, assigned to liuy97

[2016-05-09 13:12] liuy97 opened #25 "add support for code list in response domain"
Refs #24

Code List has hierarchy structure which is able to link code list or category list.

[2016-05-12 12:55] StigNorland opened #26 "test"
TEST

[2016-05-12 14:19] liuy97 commented on #26
I get email notification.

[2016-05-13 11:25] liuy97 opened #27 "add code value in scale domain"
Refs #24

remove Column index and add Column value.

[2016-05-13 11:26] liuy97 opened #28 "add range setting in numeric domain"
Refs #24

support range from and to.

[2016-05-13 11:27] liuy97 opened #29 "response domain can rotate at any degree"
Refs #24

direction can be vertical and horizontal, even at any degree.

[2016-05-18 06:51] liuy97 commented on #26
Please ignore this message. This is a test for at-style notification, @scav.

[2016-05-18 06:58] liuy97 opened #30 "codes of a code domain can be alphanumeric"
The input from @hildeorten :

It is only for scale domain that the direction is important (see issue #29 ). In a code domain codes can also be alphanumeric like '**NO**','**SE**'. A code list also supports alphanumeric.

Codelist:
'**NO**' Norway
'**SE**' Sweden

[2016-05-18 07:42] StigNorland commented on #30
That is not a problem, the codes are stored as strings anyway.

[2016-05-18 07:51] liuy97 commented on #30
Yes, you support it at the backend. However, the front end has to support this case.

[2016-05-18 08:11] liuy97 commented on #27
implemented at #30.

[2016-05-18 08:11] #27 closed, assigned to liuy97

[2016-05-18 11:52] StigNorland opened #31 "Rename instrument_question to Controlconstruct to harmonize names"
This is changes to the backend api, and not yet implemented in frontend, so implications should be miniscule.

[2016-05-18 11:53] #31 closed, assigned to StigNorland

[2016-05-18 11:54] StigNorland commented on #25
This is already implemented in backend.

[2016-05-18 11:55] #26 closed, assigned to liuy97

[2016-05-23 13:45] liuy97 opened #32 "add category template"
Refs #24,

A category template has been supported. A category template is a group including categories or sub-groups of categories.

[2016-05-25 07:31] liuy97 opened #33 "no relationship between a study and its topics"
After a topic is created, request "topicgroup/list/by-study" cannot get any topics.

This bug is related to QDDT backend. I cannot create issues on QDDT, so create one here.

[2016-05-26 10:41] liuy97 opened #34 "exception when creating category template"
# Description:

After creating and editing category templates several times, this exception happens. But this error maybe does not occur immediately when the first category template is created.
# Requestion boday:

[code]
# Exception message:

Uncaught could not execute statement; SQL [n/a]; constraint [uk_98qo8cf5kyu4c5d0bcrd04cqg]; nested exception is org.hibernate.exception.ConstraintViolationE

[2016-05-27 09:15] StigNorland opened #35 "Rename Domain -> Response Domain"
In the menu, rename Domain-

[2016-05-27 09:20] StigNorland opened #36 "Split Category into two distinct pages"
On page to create different categories still to be named Category
And a new page where the "Template" creation is made (List/Range/Missing values)
Call this page Category Schema

and use Category list, Scale  & Missing Value as  names instead of List/Range/Missing values.

[2016-05-27 09:20] StigNorland commented on #33
This should have been fix a few commits ago.

[2016-05-27 11:05] #35 closed, assigned to liuy97

[2016-05-27 11:08] StigNorland commented on #34
I will need more info, or a new commit so that I can test with your codebase, in order to replicate the error.

[2016-05-30 07:35] #32 closed, assigned to liuy97

[2016-05-30 07:44] liuy97 commented on #36
@StigNorland , What's the meaning of "use Category list, Scale & Missing Value". When I create a "scale" scheme, I got exception:

`Uncaught Could not read document: Can not construct instance of no.nsd.qddt.domain.category.CategoryType from String value 'SCALE': value not one of declared Enum instance names: [DATETIME, TEXT, NUMERIC, CODE, MISSING_GROUP, LIST, RANGE, MIXED]`

[2016-05-30 07:55] liuy97 commented on #34
Checkout the latest qddt-client code. Create one category schemes and modify it. Repeat these two steps a few times (maybe twice is enough) . The exception will happen.

`Uncaught could not execute statement; SQL [n/a]; constraint [uk_98qo8cf5kyu4c5d0bcrd04cqg]; nested exception is org.hibernate.exception.ConstraintViolationException: could not execute statement`

[2016-05-30 09:09] liuy97 commented on #33
This bug still occurs. After a question module is created, refresh the page and go to the UI of question module. A blank list will be there. There is no data in Table study_topic_groups.

[2016-05-30 12:15] liuy97 opened #37 "Exception ("Unable to get all revisions") when visiting "/category""
`org.hibernate.exception.SQLGrammarException: could not extract ResultSet; nested exception is org.hibernate.envers.exception.AuditException: org.hibernate.exception.SQLGrammarException: could not extract ResultSet`

Requested url  : "audit/category/<ID>/all"

[2016-05-30 14:06] StigNorland commented on #37
This is due to manual insert into db (for test data), and that the revision system hasn't been invoked in this process.
As far as I can tell it doesn't impact the system.

[2016-05-30 14:06] #37 closed, assigned to StigNorland

[2016-06-01 09:46] liuy97 opened #38 "How a response domain is specified code values for a category scheme?"
What's supposed to do at your api?

[2016-06-01 11:16] liuy97 opened #39 "Can qddt-client support multiple usernames"
The current client shares one username (admin@example.org) to login. As a result, if a new visitor logins with it, the existing authentication will be invalidate. It's better to create one username for each user.

[2016-06-01 11:30] kksnsd opened #40 "More users in qddt"
We need more user accounts in qddt as soon as the Resonse domains have been published

[2016-06-01 11:59] liuy97 opened #41 "blank pages when having cors problems"
In IE10, XMLHttpRequest required Cross Origin Resource Sharing (CORS) or  required CORS preflight.
This will result in the failure of creating questions.

[2016-06-01 12:06] kksnsd opened #42 "Browser versions and browser settings"
If app functionalities depend on browser, browser versions and browser settings, we have to inform people at HQ and NSD about it

[2016-06-02 07:38] StigNorland commented on #42
Any new browser should work, Safari, Chrome,Firefox, IE, Edge or Opera
When you install the latest version of any of these browsers, they will keep themselves updated, old browsers don't have this functionality.
Haven't tested Safari and Edge.

[2016-06-02 08:03] liuy97 commented on #42
It's better to list the minimal versions of the browsers.

The information from http://angularjs.blogspot.no/2014/03/angular-20.html

The following information from the seed project used by qddt-client:
1. ie >= 10,
2. ie_mob >= 10,
3.  ff >= 30,
4. chrome >= 34,
5.  safari >= 7,
6.  opera >= 23,
7.  ios >= 7,
8.  android >= 4.4,

However, IE 10 does not work well, because of the CORS problem I ha

[2016-06-02 09:41] StigNorland commented on #39
these user exist in the system today:
admin
user@example.org
yong
stig
review

[2016-06-02 10:31] kksnsd commented on #39
How can I log in as "review", with access to the data created under user@example.org?

[2016-06-02 12:36] StigNorland commented on #40
please provide names and emails to whom you want to add

[2016-06-02 13:22] StigNorland commented on #39
by using review@example.org ,same password

[2016-06-06 06:53] liuy97 opened #43 "exception when creating a category scheme"
checkout the latest qddt and create  a category scheme (Type "List") with one category ("VERY_BAD") from demo.

Exception Message

[code]

[2016-06-06 06:56] kksnsd commented on #43
Log in button is inactive

[2016-06-06 07:18] liuy97 commented on #43
@kksnsd , I visit qddt.nsd.no with IE10, FireFox 38 and Chrome 50, where Login button is active.

[2016-06-06 10:58] StigNorland commented on #43
try starting a local version of the service and run client with "npm run dev"

[2016-06-07 07:07] liuy97 opened #44 "build errors with your commits of qddt-client on June 6"
please fix them. It's better that you can create an issue before you commit any code so that others can understand why you commit and when you finish committing. The issue number can be referred in your commit message.

[2016-06-07 12:12] hildeorten commented on #40
Hi,

Please add Benjamin.Beuster@nsd.no as user

[2016-06-07 13:17] StigNorland commented on #44
can you be more specific? what fails?

[2016-06-07 13:34] liuy97 commented on #44
`src\components\questionitem\question_list.component.ts(3,32): error TS2307: Cannot find module './question_revision.component'.

src\components\questionitem\question_list.component.ts(5,9): error TS2305: Module '"qddt-client/src/components/questionitem/create.component"' has no exported member 'QuestionCreateCmp'.`

[2016-06-08 07:35] StigNorland commented on #40
These emails have been added to the webpage:
hilde.orten@nsd.no
knut.skjak@nsd.no
sarah.butt.1@city.ac.uk
lizzy.winstone.1@city.ac.uk
ess@city.ac.uk
benjamin.beuster@nsd.no

[2016-06-08 07:35] #40 closed, assigned to StigNorland

[2016-06-08 07:37] StigNorland commented on #39
these users have been added to the system.
hilde.orten@nsd.no
knut.skjak@nsd.no
sarah.butt.1@city.ac.uk
lizzy.winstone.1@city.ac.uk
ess@city.ac.uk
benjamin.beuster@nsd.no

[2016-06-08 07:37] #39 closed, assigned to StigNorland

[2016-06-08 07:39] StigNorland commented on #34
I made changes to the webpage, and to the server

[2016-06-08 11:04] liuy97 commented on #43
This bug has been fixed by Stig.

[2016-06-08 11:04] #43 closed, assigned to StigNorland

[2016-06-08 11:06] liuy97 commented on #38
Exception report: When creating a "LIST" response domain with two categories ("good" and "bad"), infinite loop happens between Category and code at the backend.

[2016-06-09 10:09] StigNorland opened #45 "Improve loading time"
Change what is lazy and what is eager
Survey + study by user
topic + concept by study
QuestionItem +question + responsedomain by concept/instrument
instrument by study
revision on demand.

[2016-06-09 10:12] StigNorland opened #46 "improve loading time client"
In order to improve on loading time
change code to load revision history on demand (i.e. when user click on "link")
not when page loads. That will also fix a "bug" that revision isn't updated after a save

[2016-06-09 10:14] StigNorland opened #47 "Add: BasedOnCopy in the backend"

[2016-06-09 10:15] StigNorland commented on #33
This is working in the current commited code

[2016-06-09 10:15] #33 closed, assigned to StigNorland

[2016-06-09 10:17] StigNorland commented on #34
Changes in relationship for category/child now makes it work, also added sort by column.
The way it is saved is the way it is opened.

[2016-06-09 10:17] #34 closed, assigned to StigNorland

[2016-06-09 10:21] StigNorland commented on #28
{"id":"378949ec-65d0-11e5-9d70-feff819cdc9f","modified":[2015,1,1,12,0,1],
"modifiedBy":{"id":"83d4c034-4ff9-11e5-885d-feff819cdc9f"},
"agency":{"id":"1359dede-9f18-11e5-8994-feff819cdc9f"},
"name":"VERY_BAD","basedOnObject":null,
"version":{"major":0,"minor":1,"versionLabel":null},
"changeKind":"CREATED",
"changeComment":null,
"code":null,
"children":[],"label":"Very bad","description":null,
**"i

[2016-06-09 10:44] StigNorland commented on #38
![skjermbilde 2016-06-09 12 42 04](https://cloud.githubusercontent.com/assets/3939393/15927095/de0aa12a-2e3f-11e6-9ffb-9251f9009597.png)

[2016-06-09 10:46] StigNorland commented on #38
backend should now work, but the code assignement still do not work,
working on an improvement here....

[2016-06-09 20:26] sarah-city opened #48 "Moving up and down hierarchy"
There is a "-" sign next to survey but not next to Study or Module

Is the idea of the "-" to let you move up a level in the same way that "+" moves you down a level?  Useful to have for Study or Module but not Survey which is the highest level

[2016-06-09 20:27] sarah-city opened #49 "Concept list on right hand side - navigation not working"
If click on a concept in the right hand TOC then don't get taken to that concept

This function will be very useful

[2016-06-09 20:27] sarah-city opened #50 "Questionnaire Module heading misspelt"

[2016-06-09 20:28] sarah-city opened #51 "Adding authors"
Should be possible to add authors (name and affiliation) for survey, study and (especially) module

In ESS it is not necessary to have this function for individual concepts or questions - though this might be useful for other studies

[2016-06-09 20:29] sarah-city opened #52 "Question and concept should not appear in left hand menu"
Already concept is added directly into main body of the tool

We agreed when I came to Bergen that question text would also be added directly in main part of tool (as part of question item)

[2016-06-09 20:32] sarah-city opened #53 "Add an "undo" button"
Is it possible to add an undo button which can be used from anywhere in the tool to undo the last action - in case you press a button and for e.g. delete something by mistake

[2016-06-09 20:34] sarah-city opened #54 "Add confirmation box to delete operations"
Possibly dangerous to have such an easy delete option next to questions

At the same time it would be helpful to be able to delete concepts/questions  - and text within these - in case they mistakenly get entered in the wrong place.  It should be possible to undo genuine human error (spotted and corrected prior to a published version) without having to assign a rationale/new version

[2016-06-09 20:36] sarah-city opened #55 "Question text not saving"
I had the same problem today as Lizzy had last week - I entered a question and it showed up as saved

But when I tried to attach it to a concept it didn't come up as an option

It was the question "conflit"

[2016-06-09 20:37] sarah-city opened #56 "History icon not working"
The history icon - clock wrapped in an arrow - doesn't seem to be working.  Even where there are edits implemented it shows no info on history

I tested it for concepts specifically

[2016-06-09 20:38] sarah-city opened #57 "Remove limit on amount of text can copy and paste into concept description"
Or make it more generous

Some concept/module descriptions are quite long

[2016-06-09 20:38] sarah-city opened #58 "Add rich text formatting to questions"
So can include underlines, bold text etc.

[2016-06-09 20:53] StigNorland commented on #58
All description fields will have it, before the release.

[2016-06-09 21:02] StigNorland commented on #57
I can expand the size limit (5 times) up to 10000 characters

[2016-06-09 21:06] StigNorland commented on #56
Yes, it is not working at one would expect. When you refresh the browser it will display correctly.

Don't think if we can make it to Mondays, release. but this will change before August.

[2016-06-09 21:16] StigNorland commented on #54
All the icons should be evaluated, and the delete function will have a confirmation dialog.

How a undo function should work, might need some discussion, before we implement it.

[2016-06-09 21:19] StigNorland commented on #52
TBD

[2016-06-09 21:24] StigNorland commented on #51
Adding authors will be fixed by the end of month.

[2016-06-09 21:27] StigNorland commented on #49
That is ready for next release

[2016-06-09 21:27] #49 closed, assigned to StigNorland

[2016-06-09 21:31] StigNorland commented on #48
No, "-" was intended for deletion.
You can navigate between levels by selecting survey -> study -> topic in the top menu.

[2016-06-09 21:33] #42 closed, assigned to nobody

[2016-06-09 21:35] #1 closed

[2016-06-13 08:00] #46 closed, assigned to liuy97

[2016-06-13 08:39] liuy97 opened #59 "problem of displaying revisions"
Firstly, a survey program is created. Its revision has a revision number (1) with Reason "created". When a study is created for this survey. The survey will have two revision numbers: (1) and (2), where both of the reasons are "created". But the revision number of the new created study will be (2).

(@hildeorten, please check whether this workflow is consistent with what you expect.)

[2016-06-14 09:21] liuy97 opened #60 "create a separate concept demo for version management"
@hildeorten

This demo will help us understand the workflow of the version system. Rationales of changes have two levels. Level 1 of ChangeRationale is TypeOrNoMeaningChange and MeaningChange. Level 2 includes conceptual improvement, real life change and other change.

This demo will not connect to the backend at the moment. This demo is supposed to display changes from the closest business versio

[2016-06-14 10:46] hildeorten commented on #59
Hi Yong,

Thanks, should I test this on your computer or on the published version?
If on your computer, will you please send me the link again?

Best wishes,

Hilde

liuy97 skrev den 13.06.2016 10:39:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-15 11:48] hildeorten commented on #59
If the survey programme corresponds to the agency identifier, this will not be versioned, and thus not changed if a Study is created.

If the survey programme corresponds to a Group of Studies, this group will have a new business version when a Study is added. It would, however, not make sense to make business versions of a Group of Studies every time content of a Study under development is change

[2016-06-16 12:42] liuy97 commented on #19
Refs #24, reduplicated so close this one.

[2016-06-16 12:42] #19 closed, assigned to liuy97

[2016-06-16 12:43] liuy97 commented on #20
Refs #24, reduplicated so close this one.

[2016-06-16 12:43] #20 closed, assigned to liuy97

[2016-06-16 12:50] liuy97 commented on #25
The design of response domain has been changed. The scheme of response domain will be used as a list. A response domain will be specified with a scheme, not with categories. The workflow described here will not be supported. Refs #24 and Close this.

[2016-06-16 12:50] #25 closed, assigned to liuy97

[2016-06-16 12:55] liuy97 commented on #56
Refs #46, load history on demand and close this.

[2016-06-16 12:55] #56 closed, assigned to liuy97

[2016-06-16 13:07] #36 closed, assigned to liuy97

[2016-06-17 10:04] liuy97 opened #61 "Search box support"
@hildeorten

Refs #60

What's described here is only for **demo** at the moment in order to understand the versioning workflow. Users will begin with a search interface. They can search with keywords on some Fields: label, description and elements related to the target, such as a response domain of a question item.

If any result is given, the users can choose **Reuse** it or create an element **b

[2016-06-17 10:49] liuy97 opened #62 "Rational codes and comments when saving"
@hildeorten

Refs #60
# Rational Codes

Rational codes at Level 2 will be vertical. All of options will be visible.

Rational codes have to be given for each changes. However, only one comment is required for one save.
# Save options

Save options includes "**Save (Revision)**", "**Save as business version**" "**Save as a new Based on**" and "**Save as new**".
1. **Save (Revision)** will produce a

[2016-06-17 11:02] liuy97 opened #63 "Change metadata for saving"
@hildeorten

Refs #60

Some additional information may be useful, which is listed as follows.

| Field | Description |
| --- | --- |
| Change Name | which item has been changed, such as **label** or **description**. |
| Change Type | Addition, Removal and Change |
| Rational L1 | TypeOrNoMeaningChange or MeaningChange |
| Rational L2 | Real life change, more see Refs #60. |

The above information

[2016-06-17 11:52] hildeorten commented on #61
Refs #60 https://github.com/DASISH/qddt-client/issues/60

The explanation of _Reuse_ and _Business version and Revision_ below is
fine.

Here is a comment to the term *Based on Business Version *as used below:
- ```
  A *Business version* is a particular revision of an object that
[code]
      This is a decision made by the user because he/she thinks
[code]

[2016-06-17 12:17] liuy97 opened #64 "create a question item UI for concepts"
Search question items if have any, and use the latest version. Otherwise, create a new question item with a question and response domain.

[2016-06-17 12:23] hildeorten commented on #62
Rationale Codes: OK

Save options:
Comment should in my view be optional. Will consult with the other
domain people and get back regarding this.

liuy97 skrev den 17.06.2016 12:50:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-17 12:26] hildeorten commented on #63
Great but Rational L1 and L2 should be selected by the user (userdefined)

 liuy97 skrev den 17.06.2016 13:02:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-17 13:19] StigNorland commented on #64
QuestionItem first implementation just show as everything else (ignore versions)
modify question service to query against questionitem, not question
modify view to have an extra level (QI) that wraps question.
https://github.com/DASISH/qddt-client/wiki/QuestionItem

[2016-06-17 13:20] #57 closed, assigned to StigNorland

[2016-06-17 13:23] #50 closed, assigned to StigNorland

[2016-06-17 13:23] #38 closed, assigned to StigNorland

[2016-06-17 13:26] StigNorland commented on #44
questionitem component removed, functionality  merged into question instead.

[2016-06-17 13:26] #44 closed, assigned to StigNorland

[2016-06-17 13:40] StigNorland commented on #63
change name and change type is handled by the system without any intervention by humans.

[2016-06-17 13:43] StigNorland commented on #63
Rational code L1 and L2 is now flattened (to a list)
if you think the user experience is better with a hierarchical "view" we could display the different items in a list with indents, suggesting a hierarchy, but still all visible to the end user.

[2016-06-17 13:51] hildeorten commented on #63
Yes would be good as we fear that ortographical and the other version
rationales can be perceived as overlapping if it is not possible to
relate to a hirearchy where 'typo or no meaning change' and 'meaning
change' is not involved aswell

Stig Norland skrev den 17.06.2016 15:43:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://

[2016-06-20 07:26] liuy97 commented on #64
`POST /questionitem/create
BODY {"question":{"name":"q1","question":"q1","intent":"q1"},"responseDomain":{}}`
`Uncaught org.hibernate.TransientPropertyValueException: object references an unsaved transient instance - save the transient instance before flushing`

[2016-06-20 09:51] liuy97 commented on #64
@hildeorten

I just describe for you how the workflow of question item works at the current status.
When attaching a question item, users will search question text and response domains. Attaching will trigger creating a question item. This question item will be never reused.

[2016-06-20 09:58] liuy97 commented on #64
@StigNorland
How is a created question item attached to a concept?

[2016-06-20 10:33] hildeorten commented on #64
The QuestionItem is the reusable core component of a survey questionnaire.

It will never be reused within the same study but often reused between
studies over time.
This is not possible in the db model of Stig but will be implemented for
the QVDB.

QuestionItem should have some additional components in addition to the
question text and the response domain reference:
Question
    Name
    Descript

[2016-06-20 12:14] liuy97 opened #65 "question items will be empty when creating a question item for concept"
Refs #64,

After creating a question item, the relationship between question item and concept is not built. The problem is how to attach/detach question items to a concept.

[2016-06-20 12:35] hildeorten commented on #65
In DDI the QuestionItem references the concept. Conceptually this is a
good way. See core domain model.

At the same time it would be useful to see the related question items
from the concept window.

liuy97 skrev den 20.06.2016 14:14:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-21 11:25] liuy97 commented on #28
@StigNorland , @hildeorten ,

Does Numeric domain require a numeric category?

[2016-06-21 11:27] hildeorten commented on #28
No category required for numeric domain

liuy97 skrev den 21.06.2016 13:25:

--
Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no <http://nsd.no> | twitter.com/NSDdata <http://twitter.com/nsddata>

[2016-06-21 11:30] liuy97 commented on #28
@StigNorland , your implementation needs a numeric category. Is it correct?

[2016-06-21 11:48] liuy97 commented on #28
@StigNorland , @hildeorten ,

`Stig Norland: If you want a numeric responsedomain you need to attach a category with categoryType = NUMERIC`

Users have to specify to a category to a numeric response domain. This difference has to be mentioned to users.

[2016-06-21 11:50] StigNorland commented on #28
yes, that is correct.

[2016-06-21 11:54] hildeorten commented on #28
I would say this should not be called category in the tool as numeric
domain or representation is basically not a category in the meaning of
domain people nor in DDI. I would rather use the word 'representation'
for this

liuy97 skrev den 21.06.2016 13:48:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-21 12:01] hildeorten commented on #28
I think it is better to use 'representation' (if this corresponds to
ManagedRepresentations in DDI) than CategoryType because CategoryType
means something different in DDI, please see
http://www.ddialliance.org/Specification/DDI-Lifecycle/3.1/XMLSchema/FieldLevelDocumentation/logicalproduct_xsd/complexTypes/CategoryType.html

It is very disadvantageous to let DDI names or domain names mean
somethi

[2016-06-21 12:21] StigNorland commented on #28
ManagedRepresentations is ManagedRepresentations in tool and ddi

If anyone has a better name to describe these {CATEGORY NUMERIC TEXT DATETIME} then please let me know.
They all represent valid answers that are described/structured in ManagedRepresentations

and given values when they implement a responsedomain.

[2016-06-21 12:27] hildeorten commented on #28
Perhaps 'Response option type'?

Knut and Benjamin, what do you think?
Do you have some better ideas?

Good that ManagedRepresentations is the same in tool and DDI

 Stig Norland skrev den 21.06.2016 14:21:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-21 12:43] hildeorten commented on #28
Keep it simple, maybe just "Response type"?

Hilde Orten skrev den 21.06.2016 14:27:

##

Benjamin Beuster
seniorrådgiver/senior adviser
Tel: +47 55 58 89 15
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-21 13:30] hildeorten commented on #28
Sounds ok to me

Benjamin Beuster skrev den 21.06.2016 14:43:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-22 06:33] liuy97 commented on #28
It has to be noticed that datetime domain and text domain will have a same workflow as numeric workflow. A related category must exist before creating these domains.

[2016-06-22 06:36] liuy97 commented on #65
to Knut,

This bug has to been fixed, otherwise, a question item will not be attached to a concept at all.

[2016-06-22 06:41] hildeorten commented on #28
Would it be possible to call this 'key' (refering to a controlled
vocabulary) rather than 'category'?

To call this category is confusing and should not be used, as this is no
category in terms of current domain practices and in DDI

liuy97 skrev den 22.06.2016 08:33:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com

[2016-06-22 06:43] liuy97 opened #66 "response domain will get all of response domains"
request:
`/responsedomain/page/search?ResponseKind=SCALE`
`/responsedomain/page/search?ResponseKind=LIST`

All of response domains will be got.

[2016-06-22 06:52] liuy97 commented on #28
@hildeorten ,

This described workflow depends on the backend. The backend needs a category there. But users will not need/understand it from my point of view.  That's why I describe the whole workflow here.

[2016-06-22 07:22] kksnsd commented on #28
We publish what we have asap. It is extremely important that we do that now, and the most important thing is that scales and code lists work. Then we continue with the work on the response domins for the next version to be published.

[2016-06-22 07:39] StigNorland commented on #28
It is the ManagedRepresentations  that defines what responsedomain we get. The responsedomain in it self is fairly agnostic to what it contains.
If the ManagedRepresentations  point to a "Category/Response type".DateTime, it is a datetime domain, same with Text and Numeric.
Everything else is either LIST/SCALE or MIXED.

[2016-06-22 07:44] liuy97 opened #67 "refactor UI of response domain"
Refs #24,

The same UI as others

[2016-06-23 13:35] StigNorland opened #68 "Grid in qddt"
We have need for a grid that will take a paging endpoint from qddt back end and transfer it to a
sorting/paging/searching/inline editing grid on the front end.

It should be component based, so that it can be reused by several object collections.

This implementation has what we need, and it support Angular2 https://www.ag-grid.com/. There are several others to choose from. If it is possible to im

[2016-06-23 14:10] StigNorland commented on #66
[code]

Are the vaild Responsekind available, and the tests works.

[2016-06-23 14:10] StigNorland commented on #66
Description (responsedomain.description)
Question (question.text)
Name (responsedomain.name)
Are also valid params to this call

[2016-06-23 15:21] StigNorland commented on #65
As long as Concept already is defined in DB, you can add a questionitem to its Concept.questionItems
and persist Concept  again.

[code]

[2016-06-24 06:21] liuy97 commented on #66
The problem here is that all types of response domains will be returned when you request one type (such as numeric) of response domains.

[2016-06-24 07:09] #65 closed, assigned to liuy97

[2016-06-24 07:09] #67 closed, assigned to liuy97

[2016-06-24 07:10] #64 closed, assigned to liuy97

[2016-06-24 07:14] liuy97 commented on #18
please describe this in detail.

[2016-06-24 07:16] liuy97 commented on #21
The workflow has changed. The question page is only used as question text. Response domain will be assigned at concept UI.

[2016-06-24 07:16] #21 closed, assigned to liuy97

[2016-06-24 08:40] StigNorland commented on #66
That is very strange as
these tests actually return what you would expect.
mvc.perform(get("/responsedomain/page/search?ResponseKind=LIST").
mvc.perform(get("/responsedomain/page/search?ResponseKind=SCALE")
mvc.perform(get("/responsedomain/page/search?ResponseKind=MIXED")

[2016-06-24 08:53] liuy97 commented on #66
Well, it depends on the quality of your tests. You unit tests are to test your java code, not rest api. It's better to use qddt-client to confirm it.

[2016-06-24 09:13] StigNorland commented on #66
I can see that you are querying the api correctly.
what is very weird is that web and mvc mock doesn't behave the same way about optional parameters.
Found the error in my repository, now it works.

[2016-06-24 09:13] #66 closed, assigned to StigNorland

[2016-06-24 09:24] StigNorland opened #69 "ResponseCardinality in responsedomains"
All responsedomians need to specify ResponseCardinality. (min max value (stored as string))
ResponseCardinality tells us how many valid responses is allowed in a responsedomain.

min 1 max 1 -> have to give one answer and one only.
min 0 max 1 -> optional to answer, but maximum one anwser.
min 2 max 8 -> multiple choice, have to give atleast 2 answers, maximum 8.
When maximum  >1 it is multiplecho

[2016-06-24 09:28] StigNorland commented on #52
question texts will be available on the left hand menu, concepts have been removed.

[2016-06-24 09:28] #52 closed, assigned to nobody

[2016-06-24 09:31] StigNorland commented on #69
This also have implications on how to draw the responsedomains in questionItems
See https://github.com/DASISH/qddt-client/wiki/Usage-of-inputLimit-responseCardinality-in-different-classes

[2016-06-24 10:40] hildeorten commented on #69
Input from HO/KKS:

-A response is never required, implies min should always start at 0.

Code lists, category domains:

[code]

All other response domains

[code]

Stig Norland skrev den 24.06.2016 11:31:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-24 10:48] liuy97 commented on #45
The description is too unclear. Which elements are lazy/eager. What's the meaning of "Lazy" and "eager"?

[2016-06-24 10:55] liuy97 commented on #68
[Angular Compiling](https://www.ag-grid.com/best-angular-2-data-grid/index.php)

`Angular Compiling is NOT supported inside ag-Grid for Angular 2.`

`So, long story short, until Angular 2 is out of beta and someone can provide me with the best practice approach for using the Angular 2 compile service, ag-Grid won't support internal Angular 2 bindings.`

It has to been mentioned here.

[2016-06-24 11:07] StigNorland commented on #69
If that was the case, minimum would be redundant information.
in online surveys, you may want to keep it on min=1 especially when you have missingvalues at hand.
It is actually very common in online surveys to require a response.

[2016-06-24 11:14] hildeorten commented on #69
- In most academic surveys it is woluntary to answer each single question.
  min value must be 0 to facilitate this.
- DDI has min value. This needs to be provided. 0 could be default min
  value in the system

Stig Norland skrev den 24.06.2016 13:07:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-24 11:17] hildeorten commented on #68
Inhouse, Maria and Thor on DBH might know something about Angular 2. You
may try to ask them

liuy97 skrev den 24.06.2016 12:55:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-24 11:20] StigNorland commented on #69
Your response sounds like minimum always **must** be 0, and therefore should be hidden or locked, which would limit its usage. default value will be min 0 max 1, but it should be possible to change this in the tool to whatever the user wants to.

[2016-06-24 11:22] liuy97 commented on #68
@hildeorten ,

No, I didn't ask questions about Angular 2. This suggested grid tool has this problem using Angular 2.

[2016-06-24 11:31] liuy97 opened #70 "rename Responses"
from benjamin:

 "Responses" should be renamed to "Categories"

[2016-06-24 11:33] liuy97 opened #71 ""Response kind" (uner Responses/New) should be removed"
from benjamin
"Response kind" (uner Responses/New) should be removed

@StigNorland,
Can we really remove the type of category?

[2016-06-24 11:48] StigNorland commented on #71
It is safe to remove from this view as the default value still is Category (if no value is specified)

[2016-06-24 11:52] #71 closed, assigned to liuy97

[2016-06-24 11:53] #70 closed, assigned to liuy97

[2016-06-24 12:07] StigNorland commented on #62
What is the intention of Save as  new without keeping it as based on (which it is)

[2016-06-24 12:10] liuy97 commented on #62
A new element is created. However, this element will drop all relationships with its based element.

[2016-06-24 12:21] StigNorland opened #72 "QuestionItem create"
the easiest way to add a question item to the model, is to add it to a Concept, and save the concept.

see https://github.com/DASISH/qddt-client/wiki/QuestionItem

[2016-06-24 12:22] hildeorten commented on #62
When the changes made makes the element so different from the 'original'
that it does not make sense to have a based on reference to that element
any more

Stig Norland skrev den 24.06.2016 14:07:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-24 12:24] hildeorten commented on #72
But conceptually QuestionItem is an important element in its own.
It is not a child of concept and should be versioned independently

Stig Norland skrev den 24.06.2016 14:21:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-06-26 09:59] StigNorland commented on #72
This has nothing to do with how it is conceptually, just how to save an
item with its relationships.

Stig

On Fri, 24 Jun 2016, 14:24 hildeorten, notifications@github.com wrote:

[2016-06-27 10:12] hildeorten opened #73 "Categories - update of view required"
@liuy97
Issue a): View «Categories/NEW: When entering text under “Label” the text appears also under “Name” in uppercase. Can you remove «Name» from the view and make sure that no text will be stored under “Name” in the database.

Issue b): View “Categories/Edit”: Please also remove the fields “Name” and “minimum/maximum” from the view corresponding to the view “NEW”. Furthermore should “Reason fo

[2016-06-27 11:53] #73 closed, assigned to liuy97

[2016-06-27 12:32] hildeorten opened #74 "Overview page for categories"
@liuy97

Please create an overview page for categories like currently exist for the question texts in the current version of the tool, see https://qddt.nsd.no/Questions.
Please add search and sort for the list.

[2016-06-27 20:25] StigNorland commented on #73
Note that minimum/maximum are for NUMERIC/DATETIME & TEXT, since they no longer is in this view, it isn't needed there anymore.

[2016-06-29 08:05] liuy97 commented on #68
reduplicated at #74

[2016-06-29 08:05] #68 closed, assigned to liuy97

[2016-06-30 12:29] liuy97 commented on #74
# How to use it

When you visit category page, you will get a list of categories with pagination. The page also supports for searching from the current table and sort ascending on **label** or **description**. A detail information will be showed by clicking **detail** button or doubleclicking one row, where editing and displaying revisions. You can test it via my machine.

# Need some input from u

[2016-07-01 06:58] liuy97 commented on #72
This bug has been fixed at #65. If it does not work, write comment here.

[2016-07-01 06:58] #72 closed, assigned to liuy97

[2016-07-01 07:31] liuy97 commented on #59
Another problem here is how to count revision number. In Stig's implementation, the revisions of all the elements will share a revision system. As a result, the revision number of one element is not continuous.

[2016-07-04 07:48] liuy97 opened #75 "A sample of vesioning workflow"
Refs #60,
@hildeorten, if you have written this similar documentation, please let me know.
Here is to create a sample of a practical sample of versioning system. This versioning workflow will help us to evaluate whether versioning system works correctly. In the following table, ID is an integer beginning from 1 for demo. One element always have and only have one ID. "isBusiness" stands for whether

[2016-07-05 12:22] liuy97 opened #76 "refactor UI of response domain"
@hildeorten,

Put managed representation and response domain together.

UI of response domain will support scale domain and code domain for testing. The scale domain will specify the scale range and some anchor categories. The code domain will specify each code with one category.

Missing domain has be supported in this UI. If a missing domain exists, a mixed domain will be used for representing t

[2016-07-05 12:36] liuy97 opened #77 "refactor UI of question"
@hildeorten

The question UI is functioned as a list of question text. It's not what we need at all. It's supposed to be question items. In this UI, users can view a list of question items. Searching, sorting, editing and commenting are supported as well.
- [x] table list
- [x] pagination
- [x] create
- [x] edit
- [x] comment
- [x] search
- [x] sort
- [x] preview response domain

[2016-07-05 13:44] hildeorten commented on #76
Comment, HO:

For an overview of the different response domain types planned to be
used, please see the document
https://github.com/DASISH/survey-tools-metadata/blob/master/core-domain-model/QVDB%20core%20domain%20model%20and%20documentation%2C%20working%20document%20as%20of%202015-12-01.pdf

1)      One entry for response domain where you can select the type of
domain. Then one page for each sele

[2016-07-07 00:34] StigNorland commented on #74
Sort and paging from the server.

[2016-07-07 00:45] StigNorland commented on #59
Revisions are the systems own track of changes, and they work as intended.
If they are confusing, I can offer to hide them from view.

[2016-07-07 00:51] StigNorland commented on #76
managed representation and response domain are not conceptually or technically the same.
managed representation works as templates
and response domain are manifestation of those templates.

[2016-07-07 01:06] StigNorland commented on #61
To keep consistency of behavior,  the system needs to bind to a revision. If some changes would not trigger a need for update and others would, the overall system would be more complex and unpredictable for the end user.

[2016-07-07 01:27] StigNorland commented on #76
http://www.ddialliance.org/Specification/DDI-CV/DataType_1.0.html

[2016-07-07 07:39] liuy97 commented on #76
This issue is to improve the user workflow. The current workflow requires users to create a managed representation (which is actually a **category** in your implementation) firstly before creating a response domain. This process is too confused, according to user feedback. This issue plans to merge these steps. No one believes that managed representation and response domain is same.

Secondly, you

[2016-07-07 10:30] hildeorten opened #78 "DDI usage in the QDDT and QVDB"
DDI offers different solutions but for these tools we made a selection, and the elements and relationships we would like to make possible are described in the QVDB common metadata model working document:

https://github.com/DASISH/survey-tools-metadata/blob/master/core-domain-model/QVDB%20core%20domain%20model%20and%20documentation%2C%20working%20document%20as%20of%202015-12-01.pdf

Some work rema

[2016-07-07 13:03] hildeorten commented on #76
@liuy97
Issue #76
Stig writes:
managed representation and response domain are not conceptually or technically the same.
managed representation works as templates
and response domain are manifestation of those templates.

I agree with Stig that conceptually a ManagedRepresentation is one thing and that ResponseDomain is a particular manifestation.
But now the ManagedRepresentation in the DDI and in

[2016-07-08 12:26] hildeorten commented on #75
Issue #75 ref #60
• General comments regarding larger packing structures like Study and Module:

The use of rationale codes as displayed in your system would apply at the Concept level and for other versionable lower level elements question items etc.
In contrast to the lower level elements structures like concepts, question items etc., higher packing structures like Study and Module need only a f

[2016-07-08 12:57] liuy97 opened #79 "testing front end"
@sarah-city,
# URL

[qddt-client](http://dasish.github.io/qddt-client/)
# Update

Refs #76 , #74, #60

Refactoring response domain is still working in progress. Now it supports scale domain and code domain. Creating, editing and previewing can be supported.

For scale domain, **begin** and **end** have to be filled, such 1 and 3 respectively. The number of **anchor** stands for how many anchor wil

[2016-07-11 07:54] liuy97 commented on #30
implemented.

[2016-07-11 07:54] #30 closed, assigned to liuy97

[2016-07-12 11:39] liuy97 commented on #78
I moved scale domain and code domain to wiki. Convert them to web pages for being easy to refer to them.

[2016-07-12 11:39] #78 closed, assigned to nobody

[2016-07-12 12:31] liuy97 commented on #79
Refs #76,

update, adding numeric domain and showing history of response domain.

[2016-07-13 12:55] liuy97 commented on #79
Refs #75,
- add showing rational code at level 1 and level 2
- add tooltips for rational codes
- add save as new-based on and save as new

[2016-07-14 08:38] virginia-ros opened #80 "When do you think I could see what I input?"
Hi,

I've been inputting concepts from round 7 immigration module. However, I cannot see anything and don't know what I have inputted or not. When do you thing that would be possible?

Thanks,

Virginia

[2016-07-14 09:03] liuy97 commented on #80
I can reduplicate this problem at qddt.nsd.no. No concept can be created, because the backend reported an error message.

[2016-07-14 10:46] virginia-ros commented on #80
Ok, that's fine, I wasn't sure if it was just me. Can you let me know when it is sorted?
Thanks!

[2016-07-14 11:00] liuy97 commented on #80
This problem will be not fixed unfortunately until next week when the backend developer comes back from the holiday.

[2016-07-14 13:16] liuy97 commented on #79
Refs #69,
- add response cardinality. when multiple choices required in code domains, checkboxes will be used. When the maximum choices are reached, users will not choose more until unselecting at least one.

[2016-07-14 13:18] #69 closed, assigned to liuy97

[2016-07-14 13:23] virginia-ros commented on #79
Hi @liuy97,
is there any way I can see these things you are implementing? I'm new in development and might need some help to catch up
thanks

[2016-07-14 13:30] virginia-ros commented on #79
I think I got it, is it in your front end?
http://liuy97.github.io/

Thanks :)

[2016-07-14 13:31] liuy97 commented on #79
Yes. All changes are listed at [commits](https://github.com/DASISH/qddt-client/commits/devel). All the commits give the related issues, where you can discuss or report problems.

[2016-07-14 13:34] virginia-ros commented on #79
Thanks, I'm learning a lot about this but I still might ask stupid questions for a while :)

[2016-07-14 13:36] liuy97 commented on #79
No problem. We also need user feedbacks to improve the front end.

[2016-07-14 13:39] virginia-ros commented on #79
That's my job so, we'll talk often

[2016-07-18 11:07] liuy97 commented on #79
Refs #74,
implement an advanced pagination.

[2016-07-18 11:52] liuy97 commented on #74
@StigNorland ,
Please update API wiki regarding how to request sort elements on a specific field, such as label or description.

[2016-07-18 12:27] liuy97 opened #81 "mixed domain in qddt"
Refs [qvdb domain model](https://github.com/DASISH/survey-tools-metadata/blob/master/core-domain-model/QVDB%20core%20domain%20model%20and%20documentation%2C%20working%20document%20as%20of%202015-12-01.pdf) : Page 15

| DDI3.2 name | DDI3.2 name of type | QVDB model (or sub-model) name | Properties | QDDT priority 1 | QDDT priority 2 | QVDB | Comment |
| --- | --- | --- | --- | --- | --- | --- | --

[2016-07-18 12:32] liuy97 opened #82 "How to create a missing domain"
Refs #76,

How to create a missing domain?

[2016-07-18 12:32] liuy97 opened #83 "How to create a mixed domain?"
Refs #76

How to create a mixed domain?

[2016-07-19 08:23] hildeorten commented on #81
Mixed response domain, see QVDB core domain model  p. 7 and 23.

This is inline in the QuestionItem or QuestionGrid. QuestionItem is
called ‘Question’ in the QVDB core domain model.
StructureMixedResponseDomain, see p. 23. A QuestionItem can reference a
single responsedomain (representation) or be mixed (more than one
domain/representation is referenced).

The first and most easy example of a mixe

[2016-07-19 08:57] hildeorten commented on #82
ManagedMissingValuesRepresentation: Type definition in DDI: Means of
describing the Missing Values within a managed representation so that
they can be reused by multiple variables and questions. Variable has a
separate Missing Values location for this representation. Questions must
use a StructuredMixedResponseDomain to include both standard response
and Missing Value responses in a single questio

[2016-07-19 09:35] liuy97 commented on #82
Thank @hildeorten for your reply during holiday. This issue is related to Backend API (a technical problem): how to use API to create a missing response domain.

[2016-07-19 09:39] liuy97 commented on #81
Thanks. I created this issue in order to understand mixed domain or remember this problem. You do not need to answer it during your holiday.

[2016-07-19 09:39] StigNorland commented on #82
It was already implemented before I went on holliday, what happened?

[2016-07-19 09:40] StigNorland commented on #83
it was already implemented before I went on holiday, what happened?

[2016-07-19 09:42] liuy97 commented on #82
If it has been implemented, please update your wiki, or give me an example if possible. As far as I know, you use a missing category instead of a missing response domain. Is it right?

[2016-07-19 09:47] liuy97 commented on #83
Same to missing response domain. The problem is that mixed domain is a group of response domains. [**Managed Representation**](url) can only include a group of categories. Is it right?

[2016-07-19 10:02] StigNorland commented on #82
All "groups" of categories ( LIST,SCALE, MIXED & MISSING_GROUP) are created the same way, using the same principles.
It is the category hierarchy that defines both the managed representation and response domain.

it is defined by  "categoryType" : "MISSING_GROUP"

[2016-07-19 10:38] liuy97 commented on #82
So no missing response domain at all. There is only a missing category.

[2016-07-19 10:44] StigNorland commented on #82
I kind of regret putting response_kind into responsedomain, as it would be sufficient to read the category.
but yes these are the following ResponseKind in the backend.
    DATETIME,
    TEXT,
    NUMERIC,
    LIST,
    SCALE,
    MIXED
there is no missing as it is not a valid responsdomain (you can't have just different missing response to a question, you need answers as well.)

[2016-07-19 10:50] liuy97 commented on #82
Refs #76, a missing response domain is mentioned. I also read that file. That's why I create this issue for confirming this problem. Now I will write the following sentences:
A missing response domain will not be supported, because the backend API does not support it. Instead of a missing response domain, a missing categories will be supposed to use.

[2016-07-19 10:50] liuy97 commented on #76
Refs #82, A missing response domain will not be supported, because the backend API does not support it. Instead of a missing response domain, a missing category will be supposed to use in Backend API.

[2016-07-19 10:52] #82 closed, assigned to StigNorland

[2016-07-20 07:50] liuy97 opened #84 "question items will be not showed after creating one for a concept"
Request
'''
https://qddt.nsd.no/api/concept/page/by-topicgroup/7f000101-54aa-131e-8154-aa293bd10002?page=0&size=20&sort=asc
'''
All of questionitems of the concepts are empty. That means that the front end works, but the backend does not return data.

[2016-07-20 11:15] BenjaminNSD opened #85 "Description must be optional!"
In the domain type Scale, Code and Numeric the Description is currently mandatory. Please change it to optional. As I see it that applies the whole tool.

[2016-07-20 12:01] StigNorland commented on #84
There is no questionitem stored in the db.
reason, the save statement has the wrong format,
[see](https://github.com/DASISH/qddt-client/wiki/QuestionItem)

[2016-07-20 12:09] liuy97 commented on #84
If you know which code is wrong, please specify it. It works at my local machine. When creating question item, an exception will be  "Content type 'application/json;charset=UTF-8' not supported".

[2016-07-21 07:11] liuy97 commented on #84
Answer your questions yesterday as follows:
1. Whether did I commit all of my codes?
   Yes, I committed all of my modified codes when I closed the issues. In order to confirm this today, I did "git reset --hard" and change API_BASE to my local IP. It still works on my machine, whether the local backend runs.
2. Whether did I use a wrong format?
   No. But I will merge two steps into one step acco

[2016-07-21 07:46] liuy97 commented on #79
Refs #84,
add robot fonts

[2016-07-21 07:53] #85 closed, assigned to liuy97

[2016-07-21 07:57] liuy97 commented on #79
Refs #85

[2016-07-21 11:59] #84 closed, assigned to StigNorland

[2016-07-21 14:07] BenjaminNSD opened #86 "Domains: problems with searching categories"
When biulding response domains (scale and codecomain) only some categories are shown or are searchable.

Example: Category "Extremely dissatisfied" is not found in the list

[2016-07-21 14:12] BenjaminNSD opened #87 "How to handle dublicate items, for example duplicate categories"
Should we allow duplicates in the tool?

Example for duplicate categories:

"Completely able" is entered twice in the tool (no difference, same version 1.0). We should at least have a warning which pops up?

[2016-07-22 06:58] liuy97 commented on #86
The current implementation does not support getting results of searching. If implementing it, I need some information from you (or users).
1. Which fields do you want to search?
   [Search API](https://github.com/DASISH/qddt-client/wiki/Api-queries) only supports searching on **Name**.
2. Do you need pagination for searching result?

[2016-07-22 07:10] BenjaminNSD opened #88 "Domains: preview of Numeric Domain"
Preview is wrong. Looks like scale domain without anchorpoint. We'd prefer an empty numeric field possibly together with the defined valid range.

Please note that numeric domain is a field where the respondent enters a number wthin a range. (He doesn't choose a point on a scale)

![numeric_domain](https://cloud.githubusercontent.com/assets/20127077/17049193/19406446-4fec-11e6-9d3f-d178c56c5cf5.PN

[2016-07-22 07:46] BenjaminNSD commented on #86
The search function depends on the content. When searching for categories the user will primary search for the "Label" of the category. The search function should be extended later on (adding version and other useful items depending on the element)

The results should be shown in a scroll down list as it is now, but it should not be limited to 20 hits as it is now. The number of hits must be incre

[2016-07-22 07:57] StigNorland commented on #86
Always pagination.

[2016-07-22 07:58] StigNorland commented on #86
and you can change the number of hits on a page to whatever....

[2016-07-22 08:00] BenjaminNSD commented on #86
That's good!

[2016-07-22 08:24] liuy97 commented on #86
@BenjaminNSD, searching at backend does not work as expected. So It cannot be implemented now.

[2016-07-22 08:43] liuy97 opened #89 "problems with searching categories at backend"
Refs #86 ,

Search categories with "d",
'''
/category/page/search/?level=ENTITY&name=d%
'''
It's supposed to get a list of categories. but an empty list is returned.

[2016-07-22 09:20] #88 closed, assigned to liuy97

[2016-07-22 09:28] liuy97 commented on #79
Refs #88

[2016-07-22 10:03] BenjaminNSD opened #90 "Versioning/time stamp is not working in several elements"
When clicking the versioning icon nothing happens (only Code Domain, working fpr the other)

[2016-07-22 10:06] BenjaminNSD opened #91 "Categories: update of sort function"
As I see it, the sorting applies only for the current page. When sorting by label it should be applied for all categories in the base, not only the current page with the 20 hits.

[2016-07-22 10:17] liuy97 commented on #91
Yes. See #74.

[2016-07-22 10:23] #86 closed, assigned to liuy97

[2016-07-22 10:29] liuy97 commented on #89
Now change query into the following
'''
/category/page/search/?level=ENTITY&name=d*
'''

[2016-07-22 10:29] #89 closed, assigned to StigNorland

[2016-07-22 10:30] liuy97 commented on #79
Refs #86,
Now searching categories will not work until the backend at qddt.nsd.no is updated.

[2016-07-22 10:38] liuy97 commented on #90
It works at my local machine. No error happens. The cause maybe is that the information has lost at the backend.

[2016-07-22 10:53] BenjaminNSD opened #92 "Categories: Edit view: Uppercase of Label?"
When clicking the Edit button under categories the label appears in uppercase. Is this just the way it's displayed or does the text come from another item? In previous versions of QDDT the Label was automatically copied to Name in uppercase. Has this been changed in the current version? I can't controll that since the Name has been removed from the Front End as it was requested.

[2016-07-22 11:00] liuy97 commented on #92
The name is set automatically with label in uppercase. The category title in list is category's name. Do you need set it to category label?

[2016-07-22 11:05] BenjaminNSD commented on #92
"Name" should not be used at for categories at all. The category title can be the Label.

Is it possible to clean the information on Name for all categories in the system without changing the business version?

[2016-07-22 11:07] liuy97 commented on #92
I can hidden "Name" of category at front end. However, what you said needs some work at the backend.

[2016-07-22 11:09] BenjaminNSD commented on #92
Name is already hidden from the front end, but it's important for the future when it comes to XML output. We should clean the information on NAme, but it has not priority now.

[2016-07-22 11:14] liuy97 commented on #79
Refs #92

[2016-07-22 11:31] StigNorland commented on #92
We are not going to do anything about name, it will stay where it is.
Front end may ignore this field entirely, and continue to use label.
If anything is going to change, label will be removed as it is not needed, and frontend will show the field name, and call it whatever is convenient for the end user.

[2016-07-22 11:39] BenjaminNSD commented on #92
I think it has to be discussed with Hilde next week.

Important is that only Label is shown in the frontend (as it is today) and that this information will be used in the contentelement "Label" in the DDI-XML export in the future.

[2016-07-22 12:03] StigNorland commented on #92
Name can't be removed from the object, it is as simple as that.
If someone is worried about duplicating information the field called label can be removed, and the information stored there moved to the field name. What we call "name" in the front end will be exactly what you like it to be, be it 'label', 'text' or something else entirely.
But this is strictly speaking internal mechanics, and not so

[2016-07-22 13:31] virginia-ros commented on #87
Yes, we have been talking about this, and it's the problem we might face when allowing entering the questions/categories from the "concept". We thought that, when entering a new category/question text, the tool should look for one that already exists if it is possible. That's the whole point of re-usability isn't it? thanks!

[2016-07-24 21:14] sarah-city commented on #75
Hi.   I wanted to add my thoughts to Hilde's suggestions on versioning.
1. I absolutely agree that it should be possible to version within same window as the element being versioned
2. The current rationale codes available for versioning seem to mix up several things including whether somehting is a work in progress or not, the reason/type of change being versioned and "milestone"
   Milestones ar

[2016-07-25 06:11] liuy97 commented on #91
closed this because of reduplication #74.

[2016-07-25 06:11] #91 closed, assigned to nobody

[2016-07-25 07:59] liuy97 commented on #79
Refs #76 , add a text domain.

[2016-07-25 10:49] liuy97 commented on #81
Refs #83,

I will describe how a mixed domain is implemented at the backend here. I believe that it will be helpful for others to understand the workflow. The mixed domain is assigned to a mixed category which will combines categories, such as a list category and a text category when mixing a code domain and a text domain. As a result, the mixed domain cannot reuse response domains at domain level

[2016-07-25 12:20] hildeorten commented on #81
A ManagedMissingCodeReresentation in DDI, Questions (Questionitems and
grids) must use a StructuredMixedResponseDomain to include both standard
response and Missing Value responses in a single question.

The most reusable Missing representation within the ESS are code
representations, see
http://www.ddialliance.org/Specification/DDI-Lifecycle/3.2/XMLSchema/FieldLevelDocumentation/schemas/reusable_

[2016-07-25 12:31] liuy97 commented on #81
As far as I know, no StructuredMixedResponseDomain is used at the backend. The mixed relationship is represented with a category scheme.

That time is ok for me.

[2016-07-25 12:33] hildeorten commented on #81
Ok thanks! Let's discuss on Wednesday.

liuy97 skrev den 25.07.2016 14:31:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-07-25 13:17] virginia-ros opened #93 "Non responsive ESS7 immigration module"
I might have broken the tool, the immigration module is non responsive, non of the icons seem to do things...

[2016-07-25 13:38] liuy97 commented on #79
Refs #93, fix null value.

[2016-07-25 13:40] liuy97 commented on #93
Sorry. This is a bug. Now it's fixed at http://liuy97.github.io/ . The site (qddt.nsd.no) will not be fixed until next update.

[2016-07-25 14:00] virginia-ros commented on #93
Thank you! I'll work from your front end then :)

[2016-07-26 11:22] liuy97 commented on #79
Refs #77, refactor question UI

[2016-07-26 11:26] liuy97 commented on #77
User guide
1. create a question item with a response domain or without a response domain (leave it empty)
2. a question text will result in a new question at backend each time
3. edit/create response domain when editing question item
4. UI of question item in concept is still same, because a new workflow is under discussion.

[2016-07-26 11:27] hildeorten commented on #77
Sounds good!

Hilde

liuy97 skrev den 26.07.2016 13:26:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-07-26 12:54] liuy97 opened #94 "fix tslint errors"
tslint test fails.

[2016-07-27 09:07] liuy97 opened #95 "Create a new category when matching nothing according to text of user input"
In response domain, categories are implemented as reusing. That means that users have to go to category UI if no category is found. The solution is to create a new category when no category existing.

[2016-07-27 09:10] liuy97 opened #96 "Scale domain support vertical and horizontal direction"
Refs #29,

The output direction will be implemented in scale domain firstly.

[2016-07-27 09:13] liuy97 opened #97 "Category Scheme"
Refs #76,

`This issue is to improve the user workflow. The current workflow requires users to create a managed representation (which is actually a category in your implementation) firstly before creating a response domain. This process is too confused, according to user feedback. This issue plans to merge these steps.`

Now the category scheme is hidden (the front end will create one automaticall

[2016-07-27 11:10] #94 closed, assigned to liuy97

[2016-07-27 11:10] hildeorten commented on #96
@liuy97

In DDI the attribute degreeSlopeFromHorizontal is defined as <A horizontal line is described as a 0 (zero) slope. Expressed as the number of degrees positive (right end angle above the horizontal line) or degrees positive (right end descending below the horizontal line)>.

For us 90 degrees would probably be enough, or horizontal vs. vertical. (We can start with this, I'll check if furthe

[2016-07-27 11:30] hildeorten opened #98 "Enter category schemes for missing values"
@StigNorland

At meeting with Sarah in Bergen in May the following 'missing' categories for the ESS questionnaire were defined:

Category scheme:
Refusal
Don't know

The corresponding missing code domains would have code values ranging from 1 digit to 5 digit codes:
7 Refusal
8 Don't know
........
77777 Refusal
88888 Don't know

Will you please enter these schemes in the DB?

[2016-07-27 11:45] hildeorten commented on #97
@StigNorland

Will you please specify what in this response structure that covers- and is compatible with the DDI structure as specified in the QVDB core domain model and what is not? This impacts on how and what to use of this structure. I know reusable DDI CategorySchemes can be covered by this, which is good and useful but clarification is needed regarding the alternative options and if/how the

[2016-07-27 11:47] hildeorten commented on #83
@liuy97 @StigNorland

Mixed domain as in DDI will be included in later versions of the tool

[2016-07-27 14:15] StigNorland commented on #90
if nothing is happening, it is because front end crashed. (a refresh will sort that out)

In order to replicate the error we need more information about what you tried to do.

[2016-07-28 06:28] #83 closed, assigned to StigNorland

[2016-07-28 06:28] #81 closed, assigned to hildeorten

[2016-07-28 09:40] hildeorten commented on #97
Hi, for your info on related structures in DDI, please see the attachment,  @liuy97     @StigNorland
[What happens where.docx](https://github.com/DASISH/qddt-client/files/388081/What.happens.where.docx)

[2016-07-28 12:41] #96 closed, assigned to liuy97

[2016-07-28 12:46] liuy97 commented on #79
Refs #96

[2016-07-29 09:50] hildeorten opened #99 "Compare element to latest business version for versioning purposes"
@liuy97

When more than one change is made between two business versions (for example in a questionitem both the responsedomain has been changed and a typo in the questiontext has been fixed), it is useful for the user to compare the latest business version and the proposal for the new version, to be able to version correctly by assigning the correct rationale codes and description.

Could you ple

[2016-08-01 07:11] hildeorten commented on #99
@liuy97

The comparison should preferably be done by field level (DDI). If time now would great.
If no time for the first release this would be an issue to get back to for a future release

[2016-08-01 07:13] liuy97 commented on #99
Do you need me to write a proposal for this idea or implement it?

[2016-08-01 07:17] liuy97 commented on #99
What's "the first release"? Do you have any specific plan?

[2016-08-01 07:24] hildeorten commented on #99
@liuy97

It depends how much time each thing would take. If proposal takes much shorter time then make proposal first. Otherwise please implement.

First release must be the official release of the tool before City will start to use the tool. The tool should be operable in September according to the plan. This is still the goal. Date depends on the available functionality, and City and we (Knut) n

[2016-08-01 07:29] liuy97 commented on #99
It depends on whether the backend supports it. I needs to get the first business version before the current version. I cannot see any update in the Wiki now. Let me try to do some demos for this idea firstly. Your idea is very clear: two parallel columns for comparing DDI fields.

[2016-08-01 07:30] hildeorten commented on #99
@liuy97
Ok great :)

[2016-08-01 08:52] sarah-city opened #100 "Number of concepts on display/searchable"
At the moment the tool does not enable us to display/search more than a limited number of concepts.

Ideally we need to be able to navigate between all the concepts within a study - allow up to 50 per study to be safe.

[2016-08-01 08:57] hildeorten commented on #100
Search to access backend should then be implemented if not done allready
then all concepts can be searched.
Would be useful to be able to filter by usage in Study and module,
possible more filters

sarah-city skrev den 01.08.2016 10:52:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-08-02 07:45] liuy97 opened #101 "qddt exception"
# QDDT version  b0f5371

made changes that make sure that name has a value when saved to the DB.
# Request

/responsedomain/page/search?ResponseKind=SCALE
# Exception

Could not write content: (was java.lang.NullPointerException) (through reference chain: org.springframework.hateoas.PagedResources["content"]->java.util.UnmodifiableCollection[0]->org.springframework.hateoas.Resource["content"]->no.

[2016-08-02 13:14] liuy97 opened #102 "change managed representation to category scheme"
change **managed representation** to **category scheme**

[2016-08-02 13:25] #102 closed, assigned to liuy97

[2016-08-02 13:29] liuy97 commented on #79
Refs #102

[2016-08-03 07:23] hildeorten opened #103 "Create QuestionItem pop up window from Concept"
@liuy97
Currently it is possible to create question item directly in the concept.
This should be changed to access from the concept to a pop-up window where the QuestionItems can be created.
When the QuestionItem is created it should be possible to link it to the concept. (QuestionItem contain concept reference).

[2016-08-03 11:15] sarah-city commented on #75
Hi Yong.

Here are ESS HQ comments on the versioning workflow.   We like this a lot - thank you.

Sarah
[Comments on versioning demo available 010816.docx](https://github.com/DASISH/qddt-client/files/399312/Comments.on.versioning.demo.available.010816.docx)

[2016-08-03 11:17] sarah-city opened #104 "ESS HQ/NSD catch up notes"
Dear All,

Virginia and I have started a record of what is discussed/agreed at our regular catch ups.    We thought this would be useful to share with you also.  We'll keep the file updated here.

(I wanted to upload the notes as a file rather than an issue but couldn't see how.  Don't know if there is a way?)

Thanks,

Sarah
[Notes from NSD HQ catch ups_July 2016.docx](https://github.com/DASISH/q

[2016-08-04 09:32] liuy97 commented on #79
Refs #103

[2016-08-04 12:12] liuy97 opened #105 "Change "schemes" to "Missing values""
change menu name of "schemes" at the left side.

[2016-08-04 12:12] liuy97 opened #106 "change managed representation"
at right side.

[2016-08-04 12:17] #106 closed, assigned to liuy97

[2016-08-05 14:47] sarah-city opened #107 "Reuse/basedon functionality"
**Query from ESS HQ:**
When something is created as “newbasedon” it is not immediately apparent what the link between the new and the original element is.  How will this connection be shown within the tool/element history?

**Proposal from Hilde:**  (5th Aug)
Use rationale codes: ResusebyCopy, Translations, SourceBasedon

**Response from HQ:**
Our question was not so much about different rationale

[2016-08-08 11:29] liuy97 opened #108 "create a pop window for creating/editing response domain"
@hildeorten ,
In UI of question item, a pop window is used as UI for creating or editing response domains.

[2016-08-08 11:30] liuy97 opened #109 "uploading documents in Module"
@hildeorten,
Front end should support for uploading documents. Whether has the backend implemented this?

[2016-08-08 11:32] liuy97 opened #110 "Question construct"
@hildeorten ,

Question construct has to be implemented. Has the backend already supported for it? if so, please update wiki.

[2016-08-09 07:39] #95 closed, assigned to liuy97

[2016-08-09 07:44] liuy97 commented on #79
Refs #95, create a new category when non-existing.

[2016-08-09 07:50] #103 closed, assigned to liuy97

[2016-08-10 10:54] StigNorland commented on #110
we have a controlconstruct, if that is what you mean.

[2016-08-10 12:49] BenjaminNSD opened #111 "Question Items: Add concept"
The concept(s) should be added to the menu Question Items when editing the Question Item. I suggest displaying the referenced Concept Name(s) in addition with a magnifier which opens a popup window with the details of the referenced concept.

[2016-08-10 12:53] BenjaminNSD opened #112 "Question Items: Add Name"
The Name of the Question Item should be added when editing or generating a Question Item. It can be similar to Name when creating Concepts.

[2016-08-10 13:23] BenjaminNSD opened #113 "Question Items: Add, change and remove Response Domain"
When editing a Question Item we need more options for handling response domains.
- [x] We need a button to change the response domain. Then we can opt among the different response domains and reuse an existing one (for example a code domain). The searching should allow searching for categories and values.
- [x] We need a button to edit the current response domain (already implemented))
- [x] We ne

[2016-08-10 13:49] hildeorten commented on #113
Takk skal du ha, Benjamin.

Har du tid til å treffes litt i morgen og fortelle om hva som hendte på
møtet etter at jeg gikk?

Hilde

BenjaminNSD skrev den 10.08.2016 15:23:

--
Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no <http://nsd.no> | twitter.com/NSDdata <http://twitter.com/nsddata>

[2016-08-11 06:46] BenjaminNSD commented on #113
Hei,

kommer ned til deg litt over 9!

hildeorten skrev den 10.08.2016 15:49:

--
Benjamin Beuster
seniorrådgiver/senior adviser
Tel: +47 55 58 89 15
nsd.no <http://nsd.no> | twitter.com/NSDdata <http://twitter.com/nsddata>

[2016-08-11 06:58] hildeorten commented on #113
Fint!

Hilde

BenjaminNSD skrev den 11.08.2016 08:46:

--
Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no <http://nsd.no> | twitter.com/NSDdata <http://twitter.com/nsddata>

[2016-08-11 08:24] liuy97 commented on #75
- [x] We would like to change “save as revision” to “save as work in progress”
- [x] “save as version” needs a lower case v
- [x] “Rational L1” should be labelled “Rationale L1”
- [ ] a summary of the overall change (Refs #99)
- [ ] We would like to organised so that revisions and versions of an element are grouped together
- [ ] access the full history of an element and trace back through the dif

[2016-08-11 08:27] liuy97 commented on #79
Refs #75, fix demo according to feedback.

A possible UI for changes are designed. Any feedback for it will be written in #99.

[2016-08-11 08:34] BenjaminNSD opened #114 "In Concepts: add magnifier to display question details to referenced question to display details"
In Concepts:
Questions which are linked to concepts can currently only be removed. We should add magnifier to display question details to referenced question to display details as we do it in QuestionItems when viewing the concept

[2016-08-11 08:40] BenjaminNSD opened #115 "Concept: Add button to remove concepts"
It’s currently impossible to remove concepts from the concept hierarchy. Please implement a remove button as for the questions.

[2016-08-11 09:04] hildeorten opened #116 "Referencing versions of elements by 'drag-and-drop'"
@liuy97
This issue is for future releases of the QDDT:
How to link new elements or new versions of elements to higher level elements? For example a response domain to a question item?

Currently we agreed this should be done by making a new element, or editing an existing element, and then search this up and reuse it by reference. This solution is fine for now.

For later versions of the tool we s

[2016-08-11 09:24] hildeorten commented on #110
Hi,

QuestionConstruct is one of the ControlConstruct elements in DDI.
The /ControlConstruct/ element in DDI is in itself abstract, see
http://www.ddialliance.org/Specification/DDI-Lifecycle/3.2/XMLSchema/FieldLevelDocumentation/.

QuestionConstruct is called QuestionAsInInstrument in the conceptual
model. Please see
https://github.com/DASISH/survey-tools-metadata/tree/master/core-domain-model
p.

[2016-08-11 09:48] hildeorten commented on #75
@liuy97 @StigNorland

Regarding a couple of questions re workflow.
1. Stig, is Yongs versioning demo possible at the backend?
2. Ad 2: See #116

Regarding the action points with tick boxes, last box, see attachment
[Suggestion for how a versioning history may look like.docx](https://github.com/DASISH/qddt-client/files/412902/Suggestion.for.how.a.versioning.history.may.look.like.docx)

[2016-08-15 08:11] virginia-ros opened #117 "can't log in"
I've tried to log in to see the new features - sorry I couldn't on Friday but there was a lot to read about versioning - and the LOG IN button is not responding

Did I brake it again?

[2016-08-15 08:41] virginia-ros commented on #117
*break

it's early for me :)

[2016-08-15 08:44] liuy97 commented on #117
The backend reported an fatal error when users login.

[2016-08-15 09:59] StigNorland commented on #75
It is not possible in the backend. (L1 and L2)

[2016-08-15 13:04] StigNorland opened #118 "categories have to have a name"
when creating categories, a name is always required.
if missing, fetching results crashes

[2016-08-15 13:37] liuy97 commented on #118
It's better to do some sanity check at the backend.

[2016-08-15 13:37] #118 closed, assigned to liuy97

[2016-08-15 13:40] liuy97 commented on #79
Refs #118 , fix empty name of category schemes.

[2016-08-16 06:01] hildeorten commented on #75
@StigNorland @liuy97

Would this be possible if the list is constructed as a flat list as in the examples below?
MeaningChange.ConceptualImprovement
MeaningChange.RealLifeChange
MeaningChange.OtherChange

Would keys which contain separated meaning content like the below be supported by the back end? Based on this, could a front end similar to that of Yong be possible?

[2016-08-16 06:33] liuy97 commented on #75
Yes, the list can be listed as a lat construction.

[2016-08-16 12:55] liuy97 commented on #79
Implement a versioning comparison.

[2016-08-16 14:30] StigNorland commented on #117
error found and fixed

[2016-08-16 14:30] #117 closed, assigned to StigNorland

[2016-08-17 11:57] hildeorten commented on #99
@liuy97

Usecase should be Question Item. Please see attachement. The user should be able to see the latest business version and the new proposal spread out in two paralell columns which can be scrolled down in parallell.

ALl frontend elements (DDI elements) used  by the Item (also referenced elements like Concept or Responsedomain) should be compared. Elements with changes could be highlighted i

[2016-08-17 12:59] liuy97 opened #119 "Issue priority at front end"
@hildeorten, @BenjaminNSD

The issues will be implemented according to the the following priority, where the priority is descending sort.
#99
#121
#124
#110,
#109,
#108,
#107,
#98

The implemented issued will be removed here. Each task related to the front end should begin from a new issue.

[2016-08-17 13:16] liuy97 commented on #113
Point 1: Is it to change the type of response domain?

[2016-08-17 13:20] BenjaminNSD opened #120 "Search/filter categories"
1.  Filter in menu Categories: The filter regards only the categories of the current page. Example: The only hit of filter “(“ is: (Don’t know).
   --> Should be plenty hits.
2.  Searching categories when creating a new response domain (for example code domain): The search function should work as the filter in the menu categories. Right now it is different. For example when searching “trusted” the

[2016-08-17 13:21] BenjaminNSD commented on #119
Please add #120 as priority one.

[2016-08-17 13:26] BenjaminNSD commented on #113
It's both. Example: The user wants to replace (ID9991) a codelist with another codelist (ID1234). He might also want to replace the codelist with a scale (scale domain)

[2016-08-17 13:33] liuy97 commented on #113
Then it's better to give a specific example which describes how to map categories and codes between code domain and scale domain.

Question: does it only happen to code domain and scale domain.   or any domain?

[2016-08-17 13:50] BenjaminNSD commented on #113
There might be a misunderstanding.

Example: In Questions (QuestionItem) the user had chosen a response type (example code domain type) and then added an existing codelist. Then he saved the question item (version 1.0).

Later on the user wants to change the QuestionItem and wants to use a scaledomain instead of the codedomain. First he clicks on "Change response domain" and chooses scale domain t

[2016-08-17 13:53] liuy97 commented on #113
Ok, The process is to delete existing domains firstly and add a new one.

[2016-08-18 07:07] BenjaminNSD opened #121 "Problem with saving domains"
@StigNorland

It's currently not possible to save new response domains (tried it for scale and code domain). I still can edit name and description of an existing domain, but I can't alter the codes and categories permanently. They disappear after submitting the domain.

[2016-08-18 07:10] hildeorten commented on #113
Yes this is correcrt,

But rather remove it from the QuestionItem (Item 1) then delete it, as
it should be possible for other QuestionItems (Item n to m) to use the
response domain that is no longer used by the QuestionItem (Item 1).
For response domain it should be possible to select a specific version
of the element (response domain).

Hilde

liuy97 skrev den 17.08.2016 15:53:

##

Hilde Orten
S

[2016-08-18 07:32] liuy97 commented on #113
According to the discussion, adding button for **delete response domain** is enough. When you want to change the type of response domain, you click **delete** firstly.

@hildeorten,
It's better to create a new issue for select different version. One reason is to keep this issue as simple as possible. Another is that it maybe requires to understand the mechanism of the backend.

[2016-08-18 07:37] hildeorten commented on #113
Ok,

Please call it 'remove' rather then delete.
I'll make a new issue regarding to select a different version. This is
special for ResponseDomain and I think it can be solved in the backend

liuy97 skrev den 18.08.2016 09:32:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-08-18 09:27] liuy97 commented on #111
Referencing concepts is not supported by the backend, [wiki](https://github.com/DASISH/qddt-client/wiki/Api-ref). It will not be implemented at frontend until the backend supports it. I will remove this issue in #119.

[2016-08-18 09:45] liuy97 commented on #79
Refs #113

[2016-08-18 10:16] StigNorland commented on #121
when saving lists, inputlimit needs to be updated with "number of codes"
and children collection updated with the selected "categories"

[2016-08-18 10:50] BenjaminNSD commented on #119
Please add #121 as priority one.

[2016-08-18 10:58] #112 closed, assigned to liuy97

[2016-08-18 11:07] liuy97 commented on #115
Does it means to detach concept, not to delete concept?

[2016-08-18 11:08] hildeorten commented on #115
Yes

liuy97 skrev den 18.08.2016 13:07:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-08-18 11:10] liuy97 commented on #115
@StigNorland ,

Does the backend support to detach concepts? I can find no concept api to do so in your [wiki](https://github.com/DASISH/qddt-client/wiki/Api-ref).

[2016-08-18 11:14] virginia-ros opened #122 "Versioning on the back end"
Implement the versioning functionality to the back end.

[2016-08-18 11:16] virginia-ros commented on #60
#122

[2016-08-18 11:21] virginia-ros opened #123 "Access to question items"
It's not possible to access the question items through the concepts - where the concepts are developed

[2016-08-18 11:23] liuy97 commented on #123
What does **access** mean?

[2016-08-18 11:23] virginia-ros commented on #123
It is possible to edit/change question items - accessing them from the main menu - but the changes are not saved at the back end

[2016-08-18 11:24] virginia-ros commented on #123
@liuy97 When we click on the question item if we are on the concepts screen we cannot see them so to edit them we have to go to the main menu an edit them there

[2016-08-18 11:25] liuy97 commented on #123
Do you want to preview question text and response domain?

[2016-08-18 11:27] virginia-ros opened #124 "Tree of contents"
Would it be possible to increase the denting in the tree of contents for second and third levels to make more clear where we are?

I guess this is for @liuy97 but I'm not sure :)

[2016-08-18 11:31] hildeorten commented on #113
@liuy97

Please see attachment regarding layout for remove button

[Responsedomain_remove.docx](https://github.com/DASISH/qddt-client/files/424767/Responsedomain_remove.docx)

[2016-08-18 11:35] liuy97 commented on #124
Yes. All of the layout problems can be assigned to me.

Question: How much denting do you need?

[2016-08-18 11:37] virginia-ros commented on #124
Not sure really, enough to make the different levels more clear at first glance. Can we also use different layout for the levels (for instance bold and slightly bigger letters for the first level) ?

[2016-08-18 11:41] virginia-ros commented on #123
Yes, but also to be able to edit them (more pop-ups, maybe?)

[2016-08-18 11:42] liuy97 commented on #124
Yes, I can try do some adjustments according to your description.

[2016-08-18 11:43] virginia-ros commented on #124
Thanks :)

[2016-08-18 11:48] virginia-ros opened #125 "re-usability"
Following the discussion about re-usability yesterday. There are two issues:
1. How would it be reflected in question items whether they have been used before and, if so, in survey and module? Could you have a proposal in two weeks time?
2. Would it be possible to re-use not only question items but also concepts, categories...? Could you have a proposal on how this would be done in two weeks time?

[2016-08-18 11:51] virginia-ros opened #126 "Schemes/Managed representation"
Ok, stupid question: I don't understand what this is

[2016-08-18 13:28] #113 closed, assigned to liuy97

[2016-08-18 13:31] liuy97 commented on #79
Refs #113 , change UI of remove button.

[2016-08-19 09:05] #126 closed, assigned to nobody

[2016-08-19 09:05] virginia-ros commented on #126
Sarah explained that it's just something related to archiving.

[2016-08-19 11:09] #120 closed, assigned to liuy97

[2016-08-19 11:11] StigNorland commented on #125
Categories are already reusable
Concept, module, study and Survey will be reusable by based-on functionality
It is the intention to add functionality to QuestionItem, so that you can see witch Concept they are used in. I guess that indirectly will solve it?

[2016-08-19 11:12] liuy97 commented on #79
Refs #120

[2016-08-19 11:13] hildeorten commented on #125
Study is never reusable - it is the implementation container.

Stig Norland skrev den 19.08.2016 13:11:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-08-19 11:18] liuy97 commented on #115
Delay this until backend support it.

[2016-08-19 11:20] StigNorland commented on #122
merging with #60

[2016-08-19 11:20] #122 closed, assigned to nobody

[2016-08-19 11:20] StigNorland commented on #60
Implement the versioning functionality to the back end.

[2016-08-19 11:25] StigNorland commented on #125
ok

[2016-08-19 11:38] StigNorland commented on #115
the backend supports deletion of all elements.
see documentation https://docs.google.com/spreadsheets/d/1VoHg9Xje4KbM1dCmtqChy5r5IBwftYtuQPyOMhpZ3oE/edit#gid=0
and is of the following format
/element-name/delete/{id}

[2016-08-19 11:41] StigNorland commented on #111
concept/list/by-QuestionItem/{qiId} will be added shortly

[2016-08-19 11:42] liuy97 commented on #115
Here is to detach concept, not delete. Or something I misunderstand?

[2016-08-19 11:43] StigNorland commented on #105
As Schemes are not in use by other parts of the application, we will change its name and usage.
Rename to Missing.
add filter so to only display missingvalue schemes.

[2016-08-19 11:43] hildeorten commented on #115
Yes, to detatch/remove

liuy97 skrev den 19.08.2016 13:42:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-08-19 11:45] liuy97 commented on #115
That API stig mentioned is to delete concept.

[2016-08-19 11:46] StigNorland commented on #101
database has been updated to fix this error,

[2016-08-19 11:46] #101 closed, assigned to StigNorland

[2016-08-19 11:49] hildeorten commented on #115
If we delete them we can not reuse them later on if we would like to, so
as I see it it is better to just remove them from the module or the
concept list used by that module

liuy97 skrev den 19.08.2016 13:45:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-08-19 11:51] #93 closed, assigned to StigNorland

[2016-08-19 11:51] StigNorland commented on #92
think we have solved this by now.

[2016-08-19 11:51] #92 closed, assigned to nobody

[2016-08-19 11:52] liuy97 commented on #115
If delete is not an option, then delay this until the backend supports it.

[2016-08-19 11:53] BenjaminNSD opened #127 "Layout improvements:"
Attached you will find several layout improvements in different sections of the tool.

The issue has also priority 1.
[Change_Buttons.docx](https://github.com/DASISH/qddt-client/files/434493/Change_Buttons.docx)
[edit_QuestionItem.docx](https://github.com/DASISH/qddt-client/files/451548/edit_QuestionItem.docx)

[edit_CodeDomain.docx](https://github.com/DASISH/qddt-client/files/456162/edit_CodeDoma

[2016-08-19 11:56] BenjaminNSD commented on #127
[layout_QI5.docx](https://github.com/DASISH/qddt-client/files/426906/layout_QI5.docx)
[layout_3.docx](https://github.com/DASISH/qddt-client/files/426908/layout_3.docx)
[layout_QI.docx](https://github.com/DASISH/qddt-client/files/426909/layout_QI.docx)
[layout_QI2.docx](https://github.com/DASISH/qddt-client/files/426910/layout_QI2.docx)
[layout_QI4.docx](https://github.com/DASISH/qddt-client/files/

[2016-08-19 12:54] StigNorland commented on #87
Duplicate chech in the backend,

[2016-08-19 12:55] #80 closed, assigned to StigNorland

[2016-08-19 12:57] #77 closed, assigned to liuy97

[2016-08-19 13:00] #74 closed, assigned to liuy97

[2016-08-19 13:04] #59 closed, assigned to StigNorland

[2016-08-22 07:38] liuy97 commented on #121
What's the problem here? I can edit a scale domain for change codes and categories.

[2016-08-22 07:50] BenjaminNSD commented on #121
Try to create a new scale and then try to reuse them in a new question item. Doesn't work.

Response domains which I create on https://qddt.nsd.no/ or http://liuy97.github.io/ are currently not saved. They disappear from the list when you logout and login again.

[2016-08-22 08:06] liuy97 commented on #121
What I did:
1. create a scale domain for this issue.
2. reuse it.
3. edit codes
4. goto question items
5. logout/login

Which step will have this problem?

[2016-08-22 08:13] BenjaminNSD commented on #121
It's still the same problem, but I can see the new scale you saved for this issue. It looks as if you can save domains while I can't. I work on http://liuy97.github.io/Responsedomains and   https://qddt.nsd.no/

 "4." When I go to question items I can't reuse the scale which I submitted before. when I then go back to scale domain my scale has disappeared.

[2016-08-22 11:08] liuy97 commented on #79
Refs #124

[2016-08-22 12:37] hildeorten opened #128 "Question Item: Add missing domain"
@liuy97
The frontend does not currently support the assignment of StructuredMixedResponseDomain in QuestionItem, therefore the following solution is recommended for the front end:
-   Left side bar menue: Rename ‘Schemes’ to ‘Missing’ as this field will currently only will be used to create lists of missing categories. This will be renamed to ‘CategorySchemes’ once more functionality regarding thi

[2016-08-23 08:54] liuy97 commented on #121
Which browser did you use? I have tested for creating scale domain in http://liuy97.github.io/ with my username and admin. It works at both cases. My browser is chrome.

[2016-08-23 08:57] BenjaminNSD commented on #121
CHROME

[2016-08-23 09:32] liuy97 commented on #121
@StigNorland ,

Could you check the response domain with id (7f000101-568e-1379-8156-b6aec703007c) in the database? It is not included in the result when searching scale domains (https://qddt.nsd.no/api/responsedomain/page/search?ResponseKind=SCALE).

[2016-08-23 11:17] StigNorland commented on #121
That certainly seems like a bug in the backend.

[2016-08-23 11:19] #105 closed, assigned to liuy97

[2016-08-23 11:28] liuy97 commented on #79
Refs #105

[2016-08-23 11:56] StigNorland commented on #121
Since the api searches through name and description with %, a null field will not generate a hit, I have made description none nullable. a ""string is still valid. (and I think that is fixed in the backend now

[2016-08-23 11:58] liuy97 commented on #121
Fixed.

[2016-08-23 12:20] liuy97 opened #129 "edit code domain in question item UI"
remove start and end fields

[2016-08-23 12:38] BenjaminNSD commented on #129
remove also anchors

[2016-08-23 13:12] BenjaminNSD commented on #121
I still can't change the response domain and keep the changes.

Example. I edit a codedomain with the name TVTOT. Then I reduce the number of codes from 9 to 8. Then I save TVTOT. In preview it looks fine, but after refreshing the old version appears again.

[2016-08-23 13:14] BenjaminNSD commented on #121
We should reopen issue until this is solved

[2016-08-23 13:23] liuy97 commented on #121
@StigNorland
When I reduce the number of anchors of a scale domain, say from 2 anchors to 1, the categories are transferred to the backend correctly. However, the backend still returns a scale domain with 2 anchors.

[2016-08-24 09:29] BenjaminNSD opened #130 "Domains: Layout First Page"
The first page should have similar style as Questions and Categories. At the top of the page could be the different response domains: Then you have the lists with some details starting with scale domain.

See attachment for more information.
[Uploading Layout ResponseDomain.docx…]()

[2016-08-24 09:39] StigNorland commented on #111
Should be ready now.

[2016-08-24 10:27] BenjaminNSD opened #131 "Buttons in left menu: Go back to list"
a.)  Buttons in left menu:

When you edit a for example a question item (within Questions in left menu) and then click the button ?Questions nothing happens. The user wishes to return to the Question table (first page in Questions) when clicking the button.

This should also apply to the other items in the left menu except Home.

---

b.)  Home button:
When you are somewhere in the left menu (Ques

[2016-08-24 10:59] hildeorten opened #132 "Field level search in QuestionItem and ResponseDomain"
@StigNorland
To limit searches to find particular QuestionItems or ResponseDomains it should be possible to search in all fields of the element as well as in the elements referenced by it.

For example, when searching for a question item it should be possible to search in the name, the description (the question intent), the question text, as well as in the categories of the referenced response dom

[2016-08-24 11:01] #129 closed, assigned to liuy97

[2016-08-24 11:04] liuy97 commented on #79
Refs #129

[2016-08-24 11:25] liuy97 commented on #111
@StigNorland ,

Request
<code>
https://qddt.nsd.no/api/concept/list/by-QuestionItem/7f000101-560d-1538-8156-11a865bf00ae
</code>
Response
<code>
<html><body><h1>Whitelabel Error Page</h1><p>This application has no explicit mapping for /error, so you are seeing this as a fallback.</p><div id='created'>Wed Aug 24 13:24:07 CEST 2016</div><div>There was an unexpected error (type=Not Found, status=404)

[2016-08-25 11:40] StigNorland commented on #111
I have updated the sourcecode, not qddt.nsd.no
Tomorrow qddt.nsd.no will be updated, maybe best to keep  a local copy and service going ?

[2016-08-25 11:42] liuy97 commented on #111
After you updated the backend, I cannot run the backend in my local machine. If possible, update the backend at qddt.nsd.no.

[2016-08-25 11:51] StigNorland commented on #111
Ah, that is because of the database changes that I have  manually updated on the server, in order to preserve the data there.
You can fix this by updating line 6 in application.properties
spring.jpa.hibernate.ddl-auto=validate -> change to update might fix that
(do that locally)

[2016-08-25 11:57] liuy97 commented on #111
It does not work here. I have deleted all of the tables. They are not created by the backend. I will wait for the latest backend at qddt.nsd.no to continue this issue.

[2016-08-25 12:04] StigNorland commented on #111
then use "create-drop" instead of "update" or "validate".

[2016-08-25 12:08] liuy97 commented on #111
No, it does not work, too.

[2016-08-25 13:00] StigNorland commented on #111
any errormessages that indicate what the problem might be?

[2016-08-25 13:09] liuy97 commented on #111
Ok, the problem is finally identified in application.properties Line 11, not 127.0.0.16
<code>
spring.datasource.url=jdbc:postgresql://127.0.0.16:5432/postgres
</code>

[2016-08-26 07:02] BenjaminNSD commented on #121
Will it be possible to remove codes/categories from a codedomain and save them permanently in the release today?

[2016-08-26 07:40] hildeorten commented on #115
from concept. remove reference.
from question item grid, delete if no reference.

[2016-08-26 08:28] StigNorland opened #133 "Remove Concept from QuestionItems"
From the list of concepts referenced a QuestionItem, there should be functionality to remove a Concept from its references, this might require backend cahnges

[2016-08-26 09:38] #28 closed, assigned to liuy97

[2016-08-26 09:39] #24 closed, assigned to liuy97

[2016-08-26 09:40] liuy97 commented on #119
close this, week milestone is used now.

[2016-08-26 09:40] #119 closed, assigned to liuy97

[2016-08-26 10:36] BenjaminNSD commented on #114
Instead of a magnifier we could rather underline the QuestionItemName and highlight the Name in blue to emphasize that there is a clickable link to the question attached to the concept.

Example: TRSTPRT,  TRSTPRL, TRSTPRL (underlined and in blue colour)

[2016-08-29 06:05] BenjaminNSD commented on #111
Cannot see the Concept in QuestionItem.
Example: Question "Where do you live now?" should have a ConceptReference to Concept "Beliefs about welfare state sustainability"

Can you assist?
http://liuy97.github.io/Questions

[2016-08-29 06:12] liuy97 commented on #111
I have not updated my site. The backend have to be updated firstly.

[2016-08-29 06:17] BenjaminNSD commented on #111
When the issue is closed the issue it should be ready for testing. Sarah and Virginia expect this to be working when the issues is closed and labeled as mileston 26. september.

Can you either update the site or change the status to open?

[2016-08-29 06:19] liuy97 commented on #111
The short answer is no. It depends on the backend. What's the correct way is to confirm updating the backend, otherwise you have gotten errors. This issue has been fixed. If have any errors, then you can open it.

[2016-08-29 06:40] BenjaminNSD commented on #119
For the people testing the tool it doesn’t matter where the problem lies. Issues which regards functionality/layout etc. can first be closed when you are sure that it will work in tool-release connected to the milestone.

Please re-open the issue (agreed by Knut)

[2016-08-29 06:42] BenjaminNSD commented on #111
For the people testing the tool it doesn’t matter where the problem lies. Issues which regards functionality/layout etc. can first be closed when you are sure that it will work in tool-release connected to the milestone.

Please re-open the issue (agreed by Knut)

[2016-08-29 06:43] liuy97 commented on #111
So It means you need to open it. You can do it by yourself anyway.

[2016-08-29 07:11] BenjaminNSD commented on #111
Instead of a magnifier we could rather underline the ConceptName and highlight the Name in blue to emphasize that there is a clickable link to the concept referred to the question.

Example Name: "Beliefs about welfare state sustainability" (underlined and in blue colour)

[2016-08-29 07:14] liuy97 commented on #111
It's better to create a new issue.

[2016-08-29 07:18] BenjaminNSD commented on #111
You're right. I added a layout suggestion to #114

[2016-08-29 10:18] StigNorland commented on #121
Not fixed for 26.08 release

[2016-08-30 06:35] kksnsd opened #134 "Releases"
Has the Friday 26th release taken place?
If new versions are not released within the agreed time schedule, the qddt group has to be informed about this. Furthermore, when releases take place, the group should also be informed. Otherwise the domain people don't know if they should be prepared for testing or focus on other projects/tasks.

Could this issue be used for release/not release alerts in t

[2016-08-30 07:35] liuy97 commented on #79
Refs #111

[2016-08-30 11:05] #111 closed, assigned to liuy97

[2016-08-30 11:08] BenjaminNSD commented on #111
it works now (closed),

@StigNorland
the milestone should be changed back to 26 aug since it was part of the 26 aug release

[2016-08-30 13:31] #121 closed, assigned to StigNorland

[2016-08-31 12:24] liuy97 commented on #79
Refs #108

[2016-08-31 12:55] liuy97 commented on #115
@BenjaminNSD ,
The backend only supports deleting, not removing. Does the domain group agree with it?

[2016-08-31 12:59] BenjaminNSD commented on #115
Both options would be preferable, but at the momemt it is sufficient.
Remove can be implemented in future releases after discussion.

[2016-08-31 13:03] BenjaminNSD commented on #115
Use the delete button as suggested in #127
 Change_Buttons.docx

[2016-08-31 13:04] #108 closed, assigned to liuy97

[2016-08-31 13:57] StigNorland commented on #90
It appears to be an issue with elements not having a responding copy in the revision system.
By removing these elements from DB, we can fix that.

[2016-08-31 14:40] liuy97 commented on #115
@StigNorland,

<code>
/concept/delete/7f000101-56e1-12ca-8156-e10484cf0005
</code>
Id is confirmed correctly from db.

But it failed to delete the concept with this id.

The deleting function is the following

[code]

[2016-09-01 06:18] StigNorland commented on #115
any error message?

[2016-09-01 06:56] liuy97 commented on #115
Maybe related:
/concept/delete/7f000101-56e1-12ca-8156-e10484cf0005

[code]

[2016-09-01 07:06] BenjaminNSD commented on #90
Do you mean all elements where the time stamp is not working should be deleted/removed?

Example ESS4: "Concept Risk perception" has a time stap while "Beliefs about welfare state sustainability" has none. Should "Beliefs about welfare state sustainability" be deleted? And how, manually by the user or systematically?

[2016-09-01 07:50] StigNorland commented on #115
try to pull QDDT backend, I have made changes that hopefully will help.

[2016-09-01 08:05] BenjaminNSD commented on #90
The time stap doesn't work for question items at all in http://liuy97.github.io/

[2016-09-01 08:13] liuy97 commented on #115
The deletion failure is still there.

[2016-09-01 12:13] BenjaminNSD opened #135 "Improve "Time stamp option" including compare to previous versions"
1.  Remove editing-information (example: “Wed Jul 20 2016 by admin@NSD-qddt”) from all elements with time stamp option
2.  Add modifiedBy to time stamp
3.  Information / details available when clicking on the version number like 1.0 and 1.1. and 2.0. Only business versions should be displayed by default. Can implement a button to view revisions.
4.  Add Compare button: show result after clicking b

[2016-09-01 12:17] BenjaminNSD opened #136 "Add "Use by"-option to see if element is in use by Study/Module etc."
Add "Use by"-option as suggested in attachment.

Start with QuestionItem and ResponseDomain

[Use by which Study and which module - proposal_V2.docx](https://github.com/DASISH/qddt-client/files/449589/Use.by.which.Study.and.which.module.-.proposal_V2.docx)

[2016-09-01 12:25] BenjaminNSD opened #137 "CodeDomain: Move up/down categories and remove categories"
Add functionality (button) to “move” (up, down) and “remove” Codes/Categories pairs.

Drag and drop would be preferable, but buttons can be used if easier to implement.

See attachment:
[move_remove_Codes in Codelist.docx](https://github.com/DASISH/qddt-client/files/449600/move_remove_Codes.in.Codelist.docx)

Use case:

Change codelist from....

1 - Monday
2 - Tuesday
3 - Wednesday
4 - Thursday
5

[2016-09-01 12:30] BenjaminNSD commented on #99
Please disregard the document above (QDDT_Versioning_Compare.docx). Comparison should be implemented in "Time stamp"-option as agreed in meeting 1. Sep
#135

[2016-09-02 08:48] liuy97 commented on #115
Confirmed that a concept cannot be deleted on my site, for example, to delete Concepts for test

[2016-09-02 08:57] BenjaminNSD commented on #115
Great. Will this work (with a button) in the release today?

[2016-09-02 09:00] liuy97 commented on #115
Delete button has been already there. However, it will not function until the bug has been fixed.

[2016-09-02 09:07] #98 closed, assigned to StigNorland

[2016-09-02 09:45] BenjaminNSD commented on #124
@liuy97
Please reopen issue
Please increase the denting in the Concept Toc even more to distinguish between the different hierarchy levels.

[2016-09-02 09:49] BenjaminNSD opened #138 "Concept Toc: Add separate scroll down for Concept Toc"
Concept Toc: Please add separate scroll down for Concept Toc.
@liuy97:
 consult @StigNorland  regarding layout

[2016-09-02 09:52] liuy97 commented on #124
Please describe it in detail. For example, horizontal denting or vertical denting, how much denting is "more"?

[2016-09-02 09:58] BenjaminNSD opened #139 "QuestionItem: Input / edit QuestionText: increase input length. Applies also to Category Label"
1. QuestionItem: Long QuestionText when creating (NEW) or editing a QuestionItem cannot be viewed properly. Please increase the input and make it visible as for Description in Concepts
2. Categories: Same problem. Please increase label length as for Description

[2016-09-02 10:03] BenjaminNSD commented on #124
Same denting as now, move subconcepts just a bit to the right (size of two letters)

[2016-09-02 11:02] BenjaminNSD opened #140 "Remove redundant windows in questions, categories and response domains"
Please remove redundant windows in questions and categories. For response domains it should be similar. Please see issue #130. Clicking the magnifier should lead the user to the details. Please see attachment.

[remove_windows.docx](https://github.com/DASISH/qddt-client/files/451824/remove_windows.docx)

[2016-09-02 11:10] #124 closed, assigned to liuy97

[2016-09-02 11:27] liuy97 commented on #79
Refs #140,
Refs #115, adding deleting button (not work actually).

[2016-09-02 11:35] StigNorland commented on #139
[code]

[2016-09-02 11:49] StigNorland commented on #90
in version history, the fetching of hierarchies don't behave identically with the rest of the api.
by applying  @JsonManagedReference and  @JsonBackReference
we can avoid circular references in the serialization of the json object.

[2016-09-02 11:49] #90 closed, assigned to StigNorland

[2016-09-02 12:54] stig commented on #138
@BenjaminNSD LGTM ;-)

[2016-09-02 13:04] BenjaminNSD commented on #138
There are too many Stigs ;-)

[2016-09-05 07:39] BenjaminNSD opened #141 "General saving problems!"
1.  QuestionItem: I cannot save new question items entered via left hand menu
2.  Domains: Can’t save new Scale Domains, new text domains etc. it looks as if you can’t save domains at all
3.  Studies/Survey: Can’t save changes in studies. When editing text in description the saving doesn’t work

@StigNorland

[2016-09-05 09:08] liuy97 commented on #140
Are Column Version, Agency, Modified and modifiedBy deleted?

[2016-09-05 10:44] liuy97 commented on #140
@BenjaminNSD , have a look at the above question.

[2016-09-05 11:02] BenjaminNSD commented on #140
No, don't remove columns!

[2016-09-05 11:09] #140 closed, assigned to liuy97

[2016-09-05 12:26] #139 closed, assigned to liuy97

[2016-09-06 07:28] hildeorten commented on #141
2.2 Domains: Cannot save new Code Domain.

[2016-09-06 07:41] BenjaminNSD commented on #127
edit_QuestionItem.docx has been updated. Please remove the NEW-button from CodeDomain

[2016-09-06 08:14] #138 closed, assigned to liuy97

[2016-09-06 08:20] liuy97 commented on #79
Refs #138

[2016-09-06 08:48] liuy97 commented on #127
@BenjaminNSD ,
What's the alignment button in edit_questionitem.docx?

[2016-09-06 09:06] BenjaminNSD commented on #127
See below!

![alignment](https://cloud.githubusercontent.com/assets/20127077/18267968/fa7ce8f4-7421-11e6-9f91-2c4db58a5cbf.PNG)

[2016-09-06 09:13] liuy97 commented on #127
1. Do you need to align to distance between each anchor number and ignoring the readable feature of anchor labels?
2. The backend has not supported direction of domains. As a result, I can keep it in scale domain same as the moment, or delete it. What you described will be not implemented in this issue. You can create a new issue for it.

[2016-09-06 09:22] BenjaminNSD commented on #127
1. No. The distance should be the same between all numbers in the scale. Usually we don't have more than 2 anchor points. Would be nice if it would be possible to read the 2 anchors and still have the same distance between the numbers. If not, we leave the layout at the moment as it is
2. @hildeorten Hilde. Do you know the requirements regarding scale alignment in backend? We can create new issue

[2016-09-06 09:29] liuy97 commented on #127
1. I will leave the UI same as the moment. Although you mentioned there are less than two anchor points at most cases, all of cases have to be supported at the front end. The length of anchor labels are unpredictable.

[2016-09-06 09:32] hildeorten commented on #127
1. I agree.
2. BB and HO will make an issue regarding alignment possibilities in
   back end, only for ScaleDomain

liuy97 skrev den 06.09.2016 11:29:

[2016-09-06 11:07] liuy97 commented on #127
@BenjaminNSD ,

In edit_CodeDomain.docx:
1. Is it only applied to UI of code domain?
2. will it not distinguish the difference of incorrect input, no found element and creating a new category? Any text without matching categories will result in a new one.

[2016-09-06 12:07] BenjaminNSD commented on #127
1. Right now I can't find other examples where button is too far from number. So yes
2. With help of the filter the problem will be little. It's ok when any text without matching categories will result in a new one (as long as the user is warned with the red highlighted color)

[2016-09-06 13:07] liuy97 commented on #141
When creating a new code domain with a new category, the error exception occurs as follows:
<code>
EXCEPTION: detached entity passed to persist: no.nsd.qddt.domain.category.Category; nested exception is org.hibernate.PersistentObjectException: detached entity passed to persist: no.nsd.qddt.domain.category.Category
</code>

[2016-09-07 09:07] liuy97 commented on #127
scale alignment will not be implemented, as said before. close this issue.

[2016-09-07 09:07] #127 closed, assigned to liuy97

[2016-09-07 09:17] liuy97 commented on #114
Is a pop window still used here?

[2016-09-07 09:21] BenjaminNSD commented on #114
yes. Layout could be similar to questions when you click on magnifier for the concept

[2016-09-07 11:42] hildeorten commented on #75
[Version_Demo_+ho-1.docx](https://github.com/DASISH/qddt-client/files/458956/Version_Demo_.ho-1.docx)
[Save type5.docx](https://github.com/DASISH/qddt-client/files/458958/Save.type5.docx)

@liuy97 @StigNorland

To finalise the versioning system:

Please find the following attached:
-  A list of Vertioning rationale codes with terms and definitions
- An improvement of the layout of the Versioning D

[2016-09-07 11:45] hildeorten opened #142 "Scale domain: Allignment"
The backend does currently not support the alignment of scaledomain. Can you manage it?
@StigNorland

[2016-09-08 06:48] StigNorland commented on #142
added DegreeSlopeFromHorizontal in responsdomain

[2016-09-08 06:57] hildeorten commented on #142
Good!

In front end the button to switch from horizontal to vertical is fine.
In backend DegreeSlopeFromHorizontal could be renamed to ScaleLayout as
this is the DDI element we will use for this (sorry, my fault to propose
DegreeSlope.. for this in the first place).

Stig Norland skrev den 08.09.2016 08:48:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no

[2016-09-08 07:19] StigNorland commented on #133
[code]

[2016-09-08 07:19] #133 closed, assigned to StigNorland

[2016-09-08 07:39] liuy97 commented on #114
Questionitem window poping up from concept will disable editing response domain. The reason is that poping up window does not work from a popup window. Another reason is consuming too much memory. Popup window comes from 3rd party library(material css).

[2016-09-08 07:39] #114 closed, assigned to liuy97

[2016-09-08 08:07] liuy97 commented on #128
[code]

QuestionItem CANNOT refer to a missing category scheme directly. It has to be done in response domain. One response domain can add missing category scheme.

Or if the backend supports it, let me know.

[2016-09-08 08:43] BenjaminNSD commented on #127
Regarding Change_Buttons.docx
In concepthierarchy: when a question is linked to a concept, the question can currently be detached with the delete button. This button should be replaced with a remove-button (-) since we are not deleting the QuestionItem, just detaching.

[2016-09-08 09:10] BenjaminNSD opened #143 "General filter problems"
@liuy97
1. In ConceptHierarchy. When attaching a question to a concept by using "Reuse QuestionItem" and typing in "test" in search, there is no result
1. In Domains. When creating or editing a CodeDomain, when typing in "No" under Category, "No" is not displayed even if "No" exists in Category-base
2. In Category:  when searching "No", "No" is not displayed among results

[2016-09-08 11:41] liuy97 commented on #130
1. can the range be showed as two parts, such as start and end, instead of "start-end"?
2. Is it ok not to display the categories and codes in table? It will result in the messy table.

[2016-09-08 11:43] BenjaminNSD commented on #63
@StigNorland

To finalise the versioning system:

Please find the following attached:
- A list of Vertioning rationale codes with terms and definitions
  [Save type5.docx](https://github.com/DASISH/qddt-client/files/461523/Save.type5.docx)

[2016-09-08 11:45] BenjaminNSD commented on #75
Last comment was moved to #63

[2016-09-08 11:49] BenjaminNSD commented on #130
1. Yes, that's ok
2. We don't expect more than 2 anchors, so it would be readible. Can we try this?

[2016-09-08 11:51] hildeorten commented on #130
1. Other projects may have more anchors, for example ISSP,

Two anchore is ESS specific.....

Hilde

BenjaminNSD skrev den 08.09.2016 13:49:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-08 13:05] BenjaminNSD commented on #130
As discussed, we'd like to see first and last anchorpoint as in:
Layout ResponseDomain.docx (document updated, see above)

[2016-09-08 13:09] BenjaminNSD opened #144 "Version system_layout"
@liuy97

Please find the following attached:
[Version_Demo_.ho3.docx](https://github.com/DASISH/qddt-client/files/464053/Version_Demo_.ho3.docx)

• An improvement of the layout of the Versioning Demo Please get back with comments, B and H.
Version_Demo_+ho-3.docx

[2016-09-09 07:53] BenjaminNSD commented on #141
Overview remaining saving problems.

[Save test template_ho.docx](https://github.com/DASISH/qddt-client/files/474001/Save.test.template_ho.docx)

[2016-09-09 09:05] StigNorland opened #145 "Left menu harmonization"
Except for Home, all other entries should link to a gridview of the elements that is displayed.
(missing values and domain needs to be updated)

[2016-09-09 09:09] StigNorland commented on #142
new field added for you to use

[2016-09-09 09:13] #130 closed, assigned to liuy97

[2016-09-09 09:19] liuy97 commented on #79
Refs #130

[2016-09-09 09:22] liuy97 commented on #60
@hildeorten,
Is there any latest update according to the morning meeting today?

[2016-09-09 09:22] StigNorland opened #146 "update delete api call for questionitem"
api updadted
now questionitem.id not
questionItem.question.id is used.

[2016-09-09 09:31] liuy97 commented on #60
Why does this issue have a milestone? This demo issue is supposed to be close only when it's not required any more.

[2016-09-09 09:42] liuy97 commented on #146
what?

[2016-09-09 09:56] hildeorten commented on #60
Will make an update today as it seemed to be a major task fo allow
multiple rationale codes.

liuy97 skrev den 09.09.2016 11:22:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-09 10:25] BenjaminNSD commented on #145
For domain issue already exists:
 #130 See attachment for more information.
[Layout ResponseDomain.docx](https://github.com/DASISH/qddt-client/files/463760/Layout.ResponseDomain.docx)

[2016-09-09 10:40] liuy97 commented on #60
@hildeorten
Do you mean to implement the description in #144?

[2016-09-09 10:45] hildeorten commented on #60
Yes but I suppose we'll need to change this abit after the morning
meeting today. Will get back to you soon

liuy97 skrev den 09.09.2016 12:40:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-09 11:09] hildeorten commented on #144
@liuy97  Please see revised document above

[2016-09-09 11:11] liuy97 commented on #60
set this to "not yet decided", and set #144 to Milestone "09-Sept"

[2016-09-09 11:26] liuy97 commented on #143
<code>
In Category: when searching "No", "No" is not displayed among results
</code>
In UI category, I can get category with "no".

[2016-09-09 11:29] liuy97 commented on #144
Is **Versioning reason** textbox? however, it looks like a button to trigger a popup window, based on your description

[2016-09-09 11:47] BenjaminNSD commented on #143
in http://liuy97.github.io/Categories there are many results containing "no", but just "No" was not found

[2016-09-09 11:50] BenjaminNSD commented on #144
Versioning reason is not a text box, it's scroll down list with 3 items. Use style as in current demo

[2016-09-09 11:52] liuy97 commented on #143
It ignores the case.

[2016-09-09 11:55] BenjaminNSD commented on #143
Strange. When I type "Little" the system finds "Little"

I guess the problem is that there are too many hits containing "No". System should display "No" as first hit since it's 100% equal to filter content ("No").

[2016-09-09 12:00] liuy97 commented on #143
Well, it sound like sorting result by the related degree. It belongs to the backend. maybe difficult.

[2016-09-09 12:02] hildeorten commented on #143
I made a new 'No' and now it found it ??

BenjaminNSD skrev den 09.09.2016 13:55:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-09 12:15] BenjaminNSD commented on #143
Found it as well. Then this works sufficiently

[2016-09-09 12:16] BenjaminNSD commented on #143
Important is the first filter problem as above:
1. In ConceptHierarchy. When attaching a question to a concept by using "Reuse QuestionItem" and typing in "test" in search, there is no result

has this been solved?

[2016-09-09 12:25] liuy97 commented on #143
1. questionitem does NOT support search at the backend at the moment.

The others have been fixed. You can use pagination when too much results now.

I will assign this issue to you. You can create a new issue for the backend, or assign this to Stig.

[2016-09-09 12:26] liuy97 commented on #143
I cannot find BenjaminNSD in assign list. So assign to @hildeorten .

[2016-09-09 12:36] hildeorten commented on #143
@StigNorland

Stig will you please look into this?

[2016-09-09 13:15] liuy97 commented on #144
<code>
When chosen MeaningChange then the 3 Reasons appears as in current Demo.
Changes could appear in list on right side
</code>
When MeaningChange is chosen, will the changes be showed at the rigt side?

[2016-09-09 13:20] BenjaminNSD commented on #144
Maybe it's not necessary anymore since there's only one reason. @hildeorten what's your opinion?

[2016-09-09 13:22] hildeorten commented on #144
I agree, not needed for now but in later versions when multiple
rationale codes will be possible.

BenjaminNSD skrev den 09.09.2016 15:20:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-09 13:26] liuy97 commented on #144
When does it appear in the third page:

**Versioning reasons**
- Typo or no meaning change
- Conceptual improvement

[2016-09-09 13:29] BenjaminNSD commented on #144
When chosen MeaningChange then the 3 Reasons appears as in current Demo:
Conceptual improvement, Real life change, Other purpose

[2016-09-09 13:30] hildeorten commented on #144
Agree.
BenjaminNSD skrev den 09.09.2016 15:29:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-09 13:31] liuy97 commented on #144
You list three options, but two different options at the right side.

[2016-09-09 13:37] hildeorten commented on #144
The box with the two options is now removed, please see the updatet
document at #144.

liuy97 skrev den 09.09.2016 15:31:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-09 13:42] liuy97 commented on #144
Thanks. I have update my site. I will close this issue. If any problem, reopen this one. Have a nice weekend.

[2016-09-09 13:43] hildeorten commented on #144
Thanks Yong!

liuy97 skrev den 09.09.2016 15:42:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-12 08:14] liuy97 commented on #136
@BenjaminNSD , @hildeorten,
The frontend will not implement it before the backend supports it. At the moment, the backend only support to query concepts used by a question item.

[2016-09-12 08:17] liuy97 commented on #99
remove milestone according to the above comment.

[2016-09-12 08:18] BenjaminNSD commented on #136
@StigNorland
Can you support it in backend

[2016-09-12 08:21] liuy97 commented on #128
@hildeorten
Any latest update?

According to your description (if any misunderstanding, please correct me), ‘Missing category schemes’  is a field of a question item, similar to question text. That cannot be supported by the backend at the moment.

[2016-09-12 08:48] hildeorten commented on #128
In my specification QuestionItem should have one Response domain, as in
the data base.
This is a CodeDomain, TextDomain etc., or alternatively a
StructuredMixedResponseDomain which contains references to several
representations.

The question is how we can set up the mixed domain based on how the data
base is now.

Will try to draft a layout while the day and get back to you.

liuy97 skrev den 12.

[2016-09-12 09:12] hildeorten commented on #144
@liuy97
Please see the attatchment for terms and definitions for the different levels
[Save type5.docx](https://github.com/DASISH/qddt-client/files/466935/Save.type5.docx).

[2016-09-12 11:54] hildeorten commented on #128
@liuy97 @StigNorland
Please find draft of layout below.
[Add missing.docx](https://github.com/DASISH/qddt-client/files/467221/Add.missing.docx)

 B and H

[2016-09-12 12:06] liuy97 commented on #128
If you want to edit missing domain(which is **category** at the backend), you'd better to edit it in mixed domain (which is category scheme) instead of in question item. The current workflow is confused in my opinion.

[2016-09-12 12:11] hildeorten commented on #128
True about the categories themselves, but if you want to edit the
missing domain by assigning new codes, for example, this cannot be done
in category scheme.

Stig, please let us know what you think.

liuy97 skrev den 12.09.2016 14:06:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-12 12:22] liuy97 opened #147 "problems of Stig commits today"
Your latest three merges have reset the source codes which will influence a lot of fixes.

[2016-09-12 12:28] StigNorland commented on #147
why can't you use hipchat, to do actual chatting...
And Yes sorry for that, I am trying to revert the whole tree back to your latest commit

[2016-09-12 12:30] liuy97 commented on #147
What you did has introduced a bug. The issue system is used for it.

[2016-09-12 12:31] BenjaminNSD opened #148 "Concepts: deleting complex(main)- and subconcepts"
@StigNorland
- Currently not possible to delete a subconcept by clicking delete button of the same subconcept. Only possible when clicking the delete button of the complex concept
- When deleting a complex concept all children are currently beeing deleted. I thought we should start deleting the cubconepts and deleting the main concept at the end?

[2016-09-12 12:35] hildeorten commented on #148
@StigNorland https://github.com/StigNorland
<When deleting a complex concept all children will currently beeing
deleted. I thought we should start deleting the cubconepts and deleting
the main concept at the end?>
Comment: Yes, It should be possible to delete sub-concepts, but only
individually, not automatically when deleting a concept higher up in the
hierarchy.

BenjaminNSD skrev den 12.09.2016

[2016-09-12 12:43] liuy97 commented on #145
Implement a missing table and update my site. After #147 has been fixed, the related fix will be committed.

[2016-09-12 12:45] StigNorland commented on #147
bug? I overwrote a lot of files, that is not a bug, that is an error.

[2016-09-12 12:46] liuy97 commented on #79
Refs #145

[2016-09-12 12:47] liuy97 commented on #147
Then do you want not to reset you merge?

[2016-09-12 13:37] liuy97 commented on #147
I have updated my site [liuy97](http://liuy97.github.io/), built from the latest code. You can check it by yourself.

[2016-09-12 13:38] liuy97 commented on #79
Refs #147 , reduplicate this problem

[2016-09-13 08:48] #115 closed, assigned to StigNorland

[2016-09-13 08:48] #146 closed, assigned to liuy97

[2016-09-13 10:37] sarah-city commented on #75
We are generally happy with your proposal, thank you.

A few comments:

Which elements will be versioned:
- This approach/rationale codes will be used to version: concepts, question items, response domains, questionconstructs.
- A different approach (based around milestones, to be discussed) will be used to version higher order elements i.e. modules, instruments, studies, surveys
- Categories will

[2016-09-13 11:13] BenjaminNSD commented on #75
@sarah-city
Thanks for the comments and your good suggestions. We will get back to you tomorrow with our reply after we have discussed the issue. I suppose we will rather send you a word document than replying on Github in order to keep the system comprehensible for the developers. Once we have agreed to the final versioning system and rational codes we will update the information on Github.

[2016-09-14 08:28] liuy97 opened #149 "create a new branch"
Before #147 gets resolved, I will create a new branch for development.
The following fixes will be negatively influenced based on the latest code from branch devel:
#140
#130
#127

Which can be confirmed further from [liuy97](http://liuy97.github.io/).

[2016-09-14 08:31] #145 closed, assigned to liuy97

[2016-09-14 08:32] liuy97 commented on #149
see https://github.com/DASISH/qddt-client/tree/skipmerge

[2016-09-14 08:32] #149 closed, assigned to liuy97

[2016-09-14 09:04] BenjaminNSD opened #150 "Demo disappeared from toolet"
@liuy97
The Demo has disappeared from http://liuy97.github.io/ after latest release.

Can you get it back?

[2016-09-14 09:09] liuy97 commented on #150
see #147, this build is for that bug. Before it is fixed, it will not get update. However, you can continue to test it from my local manchine [ip](http://129.177.92.97/) before the official release.

[2016-09-14 11:08] liuy97 opened #151 "fail to create response domain at qddt.nsd.no"
fail to create response domain from qddt.nsd.no

If this problem has already reported, then close it.

[2016-09-14 11:51] liuy97 commented on #147
@StigNorland
The difference between your merge and my last commit is as follows:
https://github.com/DASISH/qddt-client/compare/0e95443...devel
You can see a lot of differences there.

Why do you merge codes into branch skipmerge? what's merged?

[2016-09-14 12:18] StigNorland commented on #110
see ControlConstruct  in wiki api ref

[2016-09-15 06:57] BenjaminNSD commented on #141
Sarah added to list that new questions under the concepthierarchy doesn't work. added in document above. submit button is not active.  is this a fronted or backend problem? @liuy97 @StigNorland

[2016-09-15 07:03] liuy97 commented on #141
test on https://qddt.nsd.no/, works.

[2016-09-15 07:26] BenjaminNSD commented on #131
@StigNorland
Sarah raised this issue again. Can you assign a milestone

@liuy97 Can you change the functions of the button as described above?

[2016-09-15 07:46] BenjaminNSD commented on #141
tried it out. Still nothing happens clicking the submit button

[2016-09-15 07:48] StigNorland commented on #141
Maybe you need to log in agian?

[2016-09-15 07:50] BenjaminNSD commented on #141
[submit.docx](https://github.com/DASISH/qddt-client/files/474087/submit.docx)

Tried clicking submit as shown in document (after new log in)

[2016-09-15 08:43] liuy97 commented on #141
Backend error message:

https://qddt.nsd.no/api/questionitem/create

[code]

[2016-09-15 10:30] BenjaminNSD opened #152 "Bug in module: study: ESS7: immigration module"
There still seems to be a bug with the ESS7 immigration module  - either no concepts appear in the ToC or the health inequalities module concepts appear

@StigNorland  @liuy97

[2016-09-15 10:35] BenjaminNSD opened #153 "ResponseDomain: Submit-button"
When editing a response domain and clicking submit then nothings happens. It is saved, but the user is confused. Sarah suggest going back to previous screen.
@liuy97 can you find a soultion for that issue

[2016-09-15 10:40] BenjaminNSD opened #154 "Missing values: Fields and design"
Fields in Missing values:
1. Name (not label)
2. Description
3. Number of categories

Design:
Use same design as for codedomain. Number of categories should appear above Type of change etc.

@liuy97

[2016-09-15 10:42] liuy97 commented on #153
After success submit, the table UI will appear. Is it ok?

[2016-09-15 10:46] BenjaminNSD opened #155 "Path to module: correct text"
Replace "**q**uestionnaire **M**odule for ..." with "**Q**uestionnaire **m**odule**s** for ..."

[2016-09-15 10:48] BenjaminNSD opened #156 "Survey: remove "remove-button""
There is a remove-button for surveys. Please remove it.
@liuy97

[2016-09-15 10:51] BenjaminNSD commented on #153
I think so. thanks

[2016-09-15 10:56] liuy97 commented on #150
Issue #147 has been discussed well. So I have updated [liuy97](http://liuy97.github.io/) for demo.

[2016-09-15 10:56] #150 closed, assigned to nobody

[2016-09-15 10:58] liuy97 commented on #79
Refs #145

[2016-09-15 11:13] #156 closed, assigned to liuy97

[2016-09-15 11:16] #155 closed, assigned to liuy97

[2016-09-15 11:26] #153 closed, assigned to liuy97

[2016-09-15 11:31] liuy97 commented on #154
Missing values are category scheme. So they cannot be assigned values at this UI.

[2016-09-15 11:50] liuy97 commented on #79
Refs #153, #154 , #155 and #156

[2016-09-15 11:52] BenjaminNSD commented on #154
Maybe a mutual misunderstanding. The design should be similar to codedomain, but the 3. field should be: Number of categories (instead of number of codes in codedomain)

[2016-09-15 11:57] BenjaminNSD commented on #154
[missing_fields.docx](https://github.com/DASISH/qddt-client/files/474553/missing_fields.docx)

see screenshot

[2016-09-15 12:11] BenjaminNSD commented on #151
reported in  #141
I don't have the permission to close issues

[2016-09-15 12:18] #151 closed, assigned to nobody

[2016-09-15 12:46] BenjaminNSD commented on #148
@liuy97
Stig said it might be a frontend error

[2016-09-15 12:47] liuy97 commented on #148
Ok, I will investigate it.

[2016-09-15 12:47] BenjaminNSD commented on #148
FYI. The delete button for subconcepts does not work

[2016-09-15 13:50] liuy97 commented on #148
Now front end will trigger deleting subconcept. you will get refresh. However, the backend has not deleted it yet.

[2016-09-15 13:51] liuy97 commented on #79
Refs #148

[2016-09-16 06:07] BenjaminNSD commented on #148
@StigNorland
can you correct the backend?

[2016-09-16 06:13] BenjaminNSD opened #157 "QuestionItem in popupwindow: move dismiss button"
The dismiss-button in popup-window in QuestionItem (within the concept hierarchy) should be moved to the upper-right corner

@liuy97

[2016-09-16 06:15] BenjaminNSD commented on #157
![dismiss_button](https://cloud.githubusercontent.com/assets/20127077/18576901/c7aa461c-7be5-11e6-8b22-71d9a4c21943.PNG)

[2016-09-16 06:35] BenjaminNSD opened #158 "Missing Values: Submit-button"
When editing a missing domain domain and clicking submit then nothings happens. It is saved, but the user is confused.
@liuy97 we can go back to missing values table (as for response domains in issue #153 )

[2016-09-16 07:17] #154 closed, assigned to liuy97

[2016-09-16 07:25] #144 closed, assigned to liuy97

[2016-09-16 08:12] liuy97 opened #159 "display additional information when it's WIP"
the additional information will be showed after version.

[2016-09-16 08:34] liuy97 commented on #157
use "close" icon in stead of "dismiss"

[2016-09-16 08:34] #157 closed, assigned to liuy97

[2016-09-16 08:34] liuy97 commented on #159
see [liuy97](http://liuy97.github.io/)

[2016-09-16 08:34] #159 closed, assigned to liuy97

[2016-09-16 11:22] #158 closed, assigned to liuy97

[2016-09-19 08:59] hildeorten commented on #110
@liuy97
can you create a menu including content on the left side for question construct by Thursday? Do you need some layout input from us?

[2016-09-19 09:01] liuy97 commented on #110
Yes. It's better if you can show some drawing layout.

[2016-09-20 07:37] StigNorland commented on #110
Conceptually we want to create a survey, with instructions, question(items) with
![questionconstruct](https://cloud.githubusercontent.com/assets/3939393/18664042/596c30cc-7f21-11e6-8b06-6d42803cccbc.png)
its responsedomain visible

[2016-09-20 08:15] hildeorten opened #160 "save responsedomain"
just save the responsedomain in one go. (including schema)
new categories just do as you do now.

[2016-09-20 08:40] liuy97 opened #161 "login problem"
If the login key is invalidate, the login form should appear.

[2016-09-20 09:06] StigNorland commented on #87
needs testing, have been implemented

[2016-09-20 09:06] #87 closed, assigned to StigNorland

[2016-09-20 09:12] StigNorland commented on #161
Very good, and also change login password entry to "********" (use materialize password entry type)

[2016-09-20 09:14] StigNorland commented on #141
http://stackoverflow.com/questions/13370221/jpa-hibernate-detached-entity-passed-to-persist

[2016-09-20 11:00] StigNorland commented on #160
Changed the backend.... looks like it is working

[2016-09-20 11:02] StigNorland commented on #128
You'll have to add codes after attaching it to a responsedomain. (so missing "domain" doesn't store any code)

[2016-09-20 11:08] hildeorten commented on #160
I tried to save code domain, but could not retreive it later on

Stig Norland skrev den 20.09.2016 13:00:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-20 11:09] StigNorland commented on #128
![skjermbilde 2016-09-20 13 08 11](https://cloud.githubusercontent.com/assets/3939393/18668026/652dab36-7f33-11e6-8818-f8da023fc0a7.png)

[2016-09-20 11:13] StigNorland commented on #128
To add a missing domain to a responsedomain
![skjermbilde 2016-09-20 13 10 22](https://cloud.githubusercontent.com/assets/3939393/18668075/aa1a7288-7f33-11e6-8974-896a8c2f0677.png)

[2016-09-20 11:14] StigNorland commented on #128
You'll have to create a new mixed managedRepresentation
![skjermbilde 2016-09-20 13 08 11](https://cloud.githubusercontent.com/assets/3939393/18668134/014c8bb8-7f34-11e6-8507-7506f8bae8ae.png)

[2016-09-20 11:14] StigNorland commented on #128
And then add codes to the added "MissingDomain"

[2016-09-20 11:39] #137 closed, assigned to liuy97

[2016-09-20 12:01] #147 closed, assigned to StigNorland

[2016-09-21 09:21] hildeorten commented on #141
@StigNorland

Still not possible to save created domain

[2016-09-21 09:48] StigNorland commented on #141
it is for fridays release 23...

[2016-09-21 09:55] hildeorten commented on #141
Ok great

:-)

Stig Norland skrev den 21.09.2016 11:48:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-21 10:53] hildeorten commented on #110
@liuy97 Please see the below attachment for the layout, this is a merge of the ideas of Stig and myself. Hope this works
[QuestionConstruct_v2.docx](https://github.com/DASISH/qddt-client/files/484769/QuestionConstruct_v2.docx)

[2016-09-21 13:39] liuy97 commented on #79
Refs #135

[2016-09-22 07:12] hildeorten commented on #160
@StigNorland
Save of domains doesn't work

[2016-09-22 07:15] #160 closed, assigned to StigNorland

[2016-09-22 07:16] StigNorland commented on #160
This isn't published yet, so you cannot test it.

[2016-09-22 07:29] StigNorland commented on #142
http://www.ddialliance.org/Specification/DDI-Lifecycle/3.2/XMLSchema/FieldLevelDocumentation/schemas/reusable_xsd/complexTypes/ScaleDimensionType.html

men her bruker de DegreeSlopeFromHorizontal

[2016-09-22 07:44] liuy97 commented on #110
@hildeorten,
1. It's better to use PDF format. I have no windows office in Linux. Some information is maybe lost.
2. Questionitem:
    ``Add + button to search up and add Question item by reference`
       What (which field on which element) will be searched, How to get question item?

[2016-09-22 08:01] hildeorten commented on #110
@liuy97
1. please find attached
[QuestionConstruct_v2.pdf](https://github.com/DASISH/qddt-client/files/486724/QuestionConstruct_v2.pdf)
2. See issue #132

[2016-09-22 08:03] hildeorten commented on #142
Har diskutert med Achim og andre at DisplayLayout er best å bruke her.
Degree slope brukes når det er flere akser eller dimensjoner

Stig Norland skrev den 22.09.2016 09:29:

[2016-09-22 08:08] liuy97 commented on #110
Issue #132 have not been implemented.
Do you want to search one question item firstly, and then display all of question construct related to the selected question item?

[2016-09-22 08:12] hildeorten commented on #110
Yes, would be fine.

Search for question name until #132 has been implemented (#132 is
important so needs to be implemented).

liuy97 skrev den 22.09.2016 10:08:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-22 08:15] BenjaminNSD opened #162 "Bug in timestamp/versioning"
I have just entered and versioned a category. The version sytem creates wrong version numbers:

1.0 - 2.0 - 1.1

See screenshot
![timestamp_error](https://cloud.githubusercontent.com/assets/20127077/18741064/6a506cc2-80ad-11e6-997d-ea9c062621ea.PNG)

[2016-09-22 09:20] StigNorland commented on #97
StructuredMixedResponseDomain -> supported
ResponseDomainReference -> supported, TypeOfObject, not as DDI, but every object is by reference and you can look up and see, in an export, we can provide this.
ManagedRepresentations-> supported

[GenericOutputformat.xlsx](https://github.com/DASISH/qddt-client/files/486873/GenericOutputformat.xlsx)

[2016-09-22 09:20] #97 closed, assigned to StigNorland

[2016-09-22 09:46] #161 closed, assigned to liuy97

[2016-09-22 09:47] liuy97 commented on #79
Refs #161

[2016-09-22 15:01] BenjaminNSD opened #163 "Preview of Question item within concepts: Error of preview"
When scrolling down a question item (popup) the text disappears. This was testet on two different machines

[2016-09-23 08:44] liuy97 commented on #110
@hildeorten ,

Field Description is not supported at the backend at the moment.

[2016-09-23 09:52] hildeorten commented on #110
You meen for the QuestionConstruct?
Then please just continue with out it for the moment

liuy97 skrev den 23.09.2016 10:44:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-23 14:06] liuy97 opened #164 "Release plan"
Before the middle of January, 2017, the following tasks should be finished:

- [x] Upgrade to Angular 2.0.0 (before end of October)
- [x] Clean/comment the source codes
- [x]  Write the test codes
- [x] [Documentation](https://github.com/DASISH/qddt-client/wiki/Developer-Guide)

[2016-09-26 10:59] hildeorten opened #165 "Let QuestionConstruct point to specific QuestionItem business version"
It should be made possible to let QuestionConstruct (the question as in the instrument) reference a specific business version of the QuestionItem. More than one version of the same QuestionItem can then be used by the same instrument.

[2016-09-26 12:10] liuy97 commented on #163
This problem is introduced by Material css. The html element has scrolled, however, the modal dialog is not redraw. The only way to it is to fix the modal footer at the bottom.

[2016-09-26 12:10] #163 closed, assigned to liuy97

[2016-09-26 12:17] liuy97 commented on #79
Refs #163

[2016-09-27 08:23] liuy97 commented on #110
@hildeorten ,
Is the content below the red &#x2715; part of creating question contruct?

[2016-09-27 08:36] hildeorten commented on #110
@liuy97 Yes, you basically call up a question item and make fields for entering instructions that are attached to the question text (they can be placed before or after the text.
In addition to the instructions it should also be possible to upload a link to a file, for example document (external aid). Is that a backend issue first?

[2016-09-27 08:37] hildeorten commented on #110
@liuy97 Instructions should be called up and referenced by the question construct.

[2016-09-27 08:39] liuy97 commented on #110
Yes. The backend has to support it firstly.

[2016-09-27 08:47] hildeorten opened #166 "Support ExternalAid link in QuestionConstruct"
@StigNorland
Add External aid to QuestionConstruct.
This is a description and link to the External Aid (for example a showcard) using the Other Material structure.

See #109

[2016-09-27 08:56] liuy97 commented on #110
@StigNorland ,
Which field of question construct is used to store the information of instruction position before or after question text?

[2016-09-27 08:56] StigNorland commented on #110
That would have to be implemented

[2016-09-27 09:18] StigNorland commented on #110
https://github.com/DASISH/qddt-client/wiki/Question-Construct-%28Controlconstruct%29

[2016-09-28 06:48] StigNorland commented on #136
Use by which Study and which module:
• Concept
• QuestionItem
• QuestionConstruct
Use by which questions and modules in the current Study:
• ResponseDomain
-   Becomes visible when relationship to relevant higher level object is established directly or indirectly.
  ![skjermbilde 2016-09-28 08 46 37](https://cloud.githubusercontent.com/assets/3939393/18903221/25bf963c-8558-11e6-91b3-32819c1d2939.p

[2016-09-28 07:04] StigNorland commented on #152
When QuestionItem is incomplete (no name) errors occurs

[2016-09-28 07:04] #152 closed, assigned to StigNorland

[2016-09-28 07:17] StigNorland commented on #143
difficult to improve filter, but sorting can be improved upon.

All pages in QDDT support these parameters page/search{?page,size,sort)
that means that server will do sort for search queries, and I presume any columns in resultset will work.

added search to questionitem
questionitem/page/search
"name",defaultValue = "_"
"question",defaultValue = "_"

[2016-09-28 07:33] StigNorland commented on #165
Added field to hold revisionnumber to ControlConstruct (QuestionConstruct)
QuestionItem needs to be fetched manually, in order to force this I have changed backend so that questionitem isn't included when fetching a CC (QC)

[2016-09-28 07:34] StigNorland commented on #166
no need for this issue as it is a duplicate of #109

[2016-09-28 07:34] #166 closed, assigned to StigNorland

[2016-09-28 08:56] hildeorten opened #167 "Publication status vocabulary"
@StigNorland Please facilitate for publication status as described in the attached document. Publication status is a CV that goes to UserAttribute pair in DDI
[Publication status in the QDDT.docx](https://github.com/DASISH/qddt-client/files/497537/Publication.status.in.the.QDDT.docx)

[2016-09-28 12:44] hildeorten commented on #148
@StigNorland Priority, needs milestone. Still sub-concepts are deleted when clicking on the delete button of the top-level concept, but not when clicking on each individual sub-concept.

[2016-09-28 13:08] liuy97 commented on #79
Ref #110, #165 , demo support for question construct.

[2016-09-28 13:29] hildeorten commented on #141
@StigNorland Still not possible to edit Study

[2016-09-28 13:41] BenjaminNSD opened #168 "Questions: Add QuestionIntent"
@liuy97
Add Question Intent to Questions.

It should appear between Question text and responsedomain. It's text input, similar to question text.

[2016-09-28 13:41] hildeorten commented on #142
@liuy97 Vocabulary for Display layout CV would suffice with 'Horizontal' (default) vs. Vertical'.
Where is the nice possibility to turn the scale visually?

[2016-09-28 13:49] liuy97 commented on #142
ok

[2016-09-28 13:51] liuy97 commented on #142
[code]

What does it mean?

[2016-09-28 13:57] hildeorten commented on #142
I mean the nice icon we could click, and then the scale moved visually
from horizontal to vertical - could not find it anymore

liuy97 skrev den 28.09.2016 15:51:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-28 14:04] liuy97 commented on #142
I removed that icon, because of the input field of degree layout. I can recover it if you like that way.

[2016-09-28 14:15] hildeorten commented on #142
Let's discuss at the project meeting tomorrow (9:30). I liked it but it
should be linked to the Display layout horizontal/vertical vocabulary.
A change in Display layout should trigger a new version of the ScaleDomain

liuy97 skrev den 28.09.2016 16:04:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NSDdata http://twitter.com/nsddata

[2016-09-29 09:21] StigNorland commented on #143
responsedomain/page/search also exist

ResponseKind -> required
Description -> defaultValue = "_"
Question -> not yet supported
 Name -> defaultValue = "_"

[2016-09-29 12:13] liuy97 commented on #143
Add searching a question item with name.
1. Before a new backend is released, I cannot test it.
2. Please replace % with *, same as the category search.

[2016-09-29 13:20] #142 closed, assigned to liuy97

[2016-09-29 13:20] liuy97 commented on #79
Refs #142

[2016-09-30 11:17] #165 closed, assigned to liuy97

[2016-09-30 11:58] BenjaminNSD commented on #128
@StigNorland
Does backend support our proposal Add missing.docx (above) for the frontend now? If, yes, please assign to Yong.

[2016-10-03 07:26] liuy97 opened #169 "create a front client in github."
URL: http://dasish.github.io/qddt-client/

Branch: https://github.com/DASISH/qddt-client/tree/gh-pages

[2016-10-03 07:27] #169 closed, assigned to liuy97

[2016-10-03 08:08] liuy97 commented on #168
Is it a mandatory field?

[2016-10-03 08:27] #168 closed, assigned to liuy97

[2016-10-03 08:29] BenjaminNSD commented on #168
No. It's optional.

[2016-10-03 08:35] liuy97 commented on #79
Refs #168

[2016-10-03 09:29] liuy97 opened #170 "upgrade angular2"
Refs #164

Branch: ng2-qddt-client

Update to the final Angular 2 version
update angular2-seed
update angular2-materialize

[2016-10-03 10:39] StigNorland commented on #167
1)  In the current version of the QDDT each save results in a new revision. Each save can contain multiple changes to an element. Save types are ‘work in progress’, ‘version’, ‘new-based on’ and ‘new’.
2)  Some elements can be published. This applies typically to Studies, Modules, Instruments, Concepts, QuestionItems and QuestionConstructs.
3)  The publications can be internal or external and for

[2016-10-03 11:31] StigNorland commented on #63
[code]

These are the valid status from the backend. They are enums, and that limits what characters I can use in their names.

Suggest that you create a list in frontend with filters that will show/hide status according to user choices.

[2016-10-03 11:38] hildeorten commented on #110
[QC.docx](https://github.com/DASISH/qddt-client/files/506110/QC.docx)
@liuy97 please implement our requirements from attached file

[2016-10-03 11:42] StigNorland commented on #110
QC.doc as picture...

[2016-10-03 11:59] hildeorten commented on #135
@liuy97 please implement compare fields for each element as below:
1.  Category: Label, Description
2.  Response Domains:
   a) Scale domain: Name, Description, Start, End, Display Layout, Code, Categorylabel
   b) Code domain: Name, Description, Number of codes, Code, Categorylabel
   c) Numeric domain: Name, Description, Low, High
   d) text domain: Name, Description, Min length, Max length
3. C

[2016-10-03 12:21] BenjaminNSD opened #171 "Scale domain: remove alignment button"
@liuy97 Remove alignment button from preview. Alignment of scale is defined by Display Layout.

![remove_alignment button](https://cloud.githubusercontent.com/assets/20127077/19037082/b0fc7984-8974-11e6-9ad8-b8b1f8d867db.PNG)

[2016-10-03 12:29] liuy97 commented on #171
@hildeorten , what do you think?

[2016-10-03 12:34] hildeorten commented on #171
I agree with Benjamin. Now the visual representation is governed by the
Display layout field which is fine.
When the display layout is changed from veritcal to horizontal and
saved, the visual representation of the scale changes accordingly. This
is good!

 liuy97 skrev den 03.10.2016 14:29:

##

Hilde Orten
Spesialrådgiver/Special Adviser
Tel: +47 55 58 89 30
nsd.no http://nsd.no | twitter.com/NS

[2016-10-04 07:20] BenjaminNSD opened #172 "Reuse questions in concepts: Add submit button"
When you want to reuse a question item, there's is only a dismiss button. No matter what you do, the chosen question item will be attached to the concept.
@liuy97 please add a **submit button** and make the **dismiss button** work properly

[2016-10-04 08:25] BenjaminNSD commented on #110
External aid: Link to a file (upload)

[2016-10-04 09:19] BenjaminNSD commented on #141
Just tried again to edit study information. After login the changes disappear.
@StigNorland

[2016-10-04 09:21] StigNorland commented on #143
ok, it is like category search, error was in this documentation.

[2016-10-04 09:22] StigNorland commented on #143
Also added search for instrument, search in description field (description field is all that is used (name is populated by backend, if empty)

[2016-10-04 10:37] StigNorland commented on #143
questioitem search is by findByNameLike **AND** questionTextLike

[2016-10-04 11:16] hildeorten commented on #63
@liuy97 See attached pdf Savetype 6 for implementation
[Save.type6.pdf](https://github.com/DASISH/qddt-client/files/508277/Save.type6.pdf)

[2016-10-04 11:17] liuy97 commented on #63
ok

[2016-10-04 12:14] BenjaminNSD opened #173 "Delete subconcepts"
Subconcepts can't be deleted yet. Please make it work (high priority).
@StigNorland

[2016-10-05 07:28] StigNorland commented on #143
all pageable api calls supports these parameters.

[code]

o have your results sorted on a particular property, add a sort URL parameter with the name of the property you want to sort the results on. You can control the direction of the sort by specifying a URL parameter composed of the property name plus .dir and setting that value to either asc ordesc.

when you sort in a grid, use the api &sort

[2016-10-05 07:35] StigNorland commented on #143
![skjermbilde 2016-10-05 09 34 00](https://cloud.githubusercontent.com/assets/3939393/19104827/f1ecc2da-8ade-11e6-9a00-98337613417c.png)

when filtering/searching keep category=CATEGORY

[2016-10-05 08:27] #171 closed, assigned to liuy97

[2016-10-05 08:56] StigNorland commented on #142
DisplayLayout added to responsedomain, it is a string field where you can add text as yo usee fit.

recommend using 'Horizontal' and 'Vertical'

degreeSlopeFromHorizontal has been removed.

@liuy97

[2016-10-05 12:03] #172 closed, assigned to liuy97

[2016-10-06 08:07] BenjaminNSD commented on #141
Editing og saving of studies works now :-)

Still can't save new questions from Concept Toc
@StigNorland

[2016-10-06 08:28] StigNorland commented on #141
working locallly, updates later today

[2016-10-06 09:53] liuy97 commented on #143
Support searching for question items and response domains now.

[2016-10-06 09:53] #143 closed, assigned to liuy97

[2016-10-06 11:05] liuy97 commented on #63
@StigNorland,

Which field is used to store rational code?

Where is your qddt repository? I still use Dag's repository which is no update.

[2016-10-06 13:55] #170 closed, assigned to liuy97

[2016-10-07 07:43] #173 closed, assigned to StigNorland

[2016-10-07 09:22] #148 closed, assigned to nobody

[2016-10-07 09:23] #123 closed, assigned to nobody

[2016-10-07 12:00] #99 closed, assigned to liuy97

[2016-10-07 12:13] hildeorten commented on #132
We'll make proposal for different elements

[2016-10-07 12:17] hildeorten commented on #107
Needs further discussion

[2016-10-07 12:20] hildeorten commented on #100
See issue #132

[2016-10-07 12:20] #100 closed, assigned to nobody

[2016-10-07 12:22] #79 closed, assigned to liuy97

[2016-10-07 12:24] #76 closed, assigned to liuy97

[2016-10-07 12:26] #75 closed, assigned to liuy97

[2016-10-07 12:27] #61 closed, assigned to liuy97

[2016-10-07 12:29] hildeorten commented on #125
Needs further discussion

[2016-10-07 12:30] hildeorten commented on #116
A future goal!!! (Would make Virginia happy :)

[2016-10-07 13:08] BenjaminNSD opened #174 "Make new questions from concepts"
Please add the elements below when making new questions from the concepts:

![new_qi](https://cloud.githubusercontent.com/assets/20127077/19190777/aa41a2d0-8c9f-11e6-88e3-609c449d2204.PNG)

@liuy97

[2016-10-07 13:29] BenjaminNSD opened #175 "Display error in current version"
![view](https://cloud.githubusercontent.com/assets/20127077/19191438/bce31f4c-8ca2-11e6-8205-e0b6d54ca826.PNG)

[2016-10-10 09:24] liuy97 commented on #128
@hildeorten, @BenjaminNSD

I suggest to create a mixed Response domain (mixed categories in Stig implementation) in response domain UI and reuse it in question item.  The current design is to attach missing response domain to a question item. However, the backend works in a different way.

The implementation of the backend requires to create a mixed response domain firstly. The problem is that the

[2016-10-10 10:30] StigNorland commented on #128
steps to create a mixed responsedomain
1. query servers for missingvalues
![skjermbilde 2016-10-12 15 50 08](https://cloud.githubusercontent.com/assets/3939393/19312630/9df59dd6-9093-11e6-9206-d840ad3a5f92.png)

then do the following, create new repsonsedomain add a mixed (category) managed representation, and add old managed rep as a child and add missing value as a child.
![skjermbilde 2016-10-1

[2016-10-10 11:37] BenjaminNSD commented on #141
high priority

[2016-10-10 11:42] BenjaminNSD commented on #128
we will discuss the details and the current development at meeting

[2016-10-10 12:22] StigNorland commented on #141
are you refering to questionItem?

[2016-10-11 09:21] StigNorland commented on #128
@liuy97
pull responsedominacontroller to add support for mix/mising creation
 "/createmixed" ,method = RequestMethod.GET,
params = {"responseDomaindId" ,"missingId" },
produces = {MediaType.APPLICATION_JSON_VALUE})

[2016-10-11 09:22] BenjaminNSD commented on #128
![skjermbilde 2016-10-12 14 23 06](https://cloud.githubusercontent.com/assets/3939393/19309823/78d3861e-9087-11e6-98d3-de9965e81614.png)
@liuy97 Please find the updated missing document

[2016-10-11 09:38] liuy97 commented on #135
@BenjaminNSD

`Conceptname+version [clickable link to display concept details)`
which cannot be supported for comparison at the moment. The frontend cannot get information which revision of questionitem use which revision of concepts.

[2016-10-11 09:47] BenjaminNSD commented on #135
@liuy97
OK. Hilde and me will discuss that. In the meantime you can continue without Conceptname+version- comparison in QuestionItem.

[2016-10-11 09:55] liuy97 commented on #175
https://github.com/InfomediaLtd/angular2-materialize/issues/106

I confirm that this is a bug from third party library.

[2016-10-11 11:40] liuy97 commented on #174
@BenjaminNSD ,

Do you need to create a new response domain here?

[2016-10-11 11:49] BenjaminNSD commented on #135
@StigNorland what is the problem in the backend here? In principle it should be able to track the relation between questionitems and concepts (including versions)

[2016-10-11 12:12] liuy97 commented on #136
@BenjaminNSD,

As my previous comment, the frontend can get (only) concepts used by a question item. However, the frontend cannot get elements used by response domains.

[2016-10-11 12:32] BenjaminNSD commented on #136
@StigNorland can you please prepare the backend. Afterwards Yong can create the frontend

[2016-10-11 12:34] BenjaminNSD commented on #174
We actually want to reuse response domain only here, not create new response domains

[2016-10-11 12:41] BenjaminNSD commented on #135
I make an additional issue about the implementation of clickable links

[2016-10-11 13:03] #174 closed, assigned to liuy97

[2016-10-11 13:10] liuy97 commented on #135
Deploy this implementation for this issue as well.

[2016-10-11 14:15] hildeorten commented on #141
Not possible to save new question item just now

[2016-10-12 06:53] BenjaminNSD commented on #141
Saving works well now :-)

@StigNorland Just noticed that each new QuestionItem has two entries in the timestamp. Same time and reason (created).

[2016-10-12 07:30] hildeorten commented on #141
@StigNorland
It is not possible now to save new question items when making them from the Question on the left side bar.

BenjaminNSD skrev den 12.10.2016 08:53:

##

Hilde Orten
Spesialrådgiver | Special Adviser
Seksjon for datatjenester | Data Services
T: (+47) 55 58 89 30

NSD – Norsk senter for forskningsdata AS | NSD – Norwegian Centre for
Research Data
Harald Hårfagres gate 29, NO-5007 Bergen

[2016-10-12 07:37] liuy97 commented on #110
@StigNorland,

Creating a question with an instruction:

[code]

[code]

[2016-10-12 07:48] StigNorland commented on #110
"isAfter":false there is no such property of Instructions

[2016-10-12 07:50] liuy97 commented on #110
Yes. It will ignore that field. I also confirm that this exception will happen without "isAfter".

[2016-10-12 07:52] StigNorland commented on #110
basically only description is in use, right now it has all properties as  AbstractEntityAudit class
but I think we should change that to AbstractEntity, as there isn't any need for revsions of instructions, only add new intructions as needed I guess...

[2016-10-12 07:56] BenjaminNSD opened #176 "Search in Question Items: cases-sensitive"
In current QDDT the search in QuestionItem is case sensitive.

It should not be case sensitive. It works for categories

[2016-10-12 08:15] liuy97 commented on #176
@BenjaminNSD
There is no difference between searching category and searching questionitem at the frontend. It's backend to return result without case-intensive. The problem is that the result of searching categories is without case-intensive. But the result of searching questionitems is case-intensive.

[2016-10-12 08:19] StigNorland commented on #176
I can fix that.

[2016-10-12 08:29] BenjaminNSD opened #177 "Clickable link: definition"
See attachment:
[clickable link.docx](https://github.com/DASISH/qddt-client/files/523892/clickable.link.docx)
#135
#136

[2016-10-12 09:22] liuy97 commented on #128
@StigNorland
How to create a missing domain?

https://github.com/DASISH/qddt-service/blob/master/src/main/java/no/nsd/qddt/domain/responsedomain/ResponseKind.java

[code]

[2016-10-12 09:26] StigNorland commented on #176
Will be included in next release

[2016-10-12 09:26] #176 closed, assigned to StigNorland

[2016-10-12 09:28] StigNorland commented on #109
lots of bugs this week, and only 3 days to work

[2016-10-12 12:24] StigNorland commented on #128
You don't create a missing domain. (there is no such thing, as you have noted)
What you add to the exsisting responsedomain is a "managed representation" missing group
**(same as you list out in the missing page)**

This is explained 5 post up from this one.

[2016-10-13 08:15] BenjaminNSD opened #178 "Subconcept: creation failed"

[2016-10-13 08:19] #135 closed, assigned to liuy97

[2016-10-13 08:42] BenjaminNSD commented on #63
Stig creates a mapping table!

[2016-10-13 08:48] #178 closed, assigned to StigNorland

[2016-10-13 09:02] BenjaminNSD opened #179 "Bug in Timestamp compare: Codelist without codes"
Codes in codelist are not displayed in compare. Yong says no codes are returned by the backend.

![codecompare](https://cloud.githubusercontent.com/assets/20127077/19342952/64677bce-9134-11e6-92f2-600d15e4b1cd.PNG)

[2016-10-13 09:11] liuy97 commented on #179
I confirmed that the elements, which are returned by requesting revisions, have empty codeValues.

[2016-10-13 11:32] BenjaminNSD commented on #141
looks good :-)

[2016-10-13 11:32] #141 closed, assigned to StigNorland

[2016-10-17 06:01] StigNorland opened #180 "property rename responsedomain"
old property degreeSlopeFromHorizontal
has been renamed to displayLayout

DisplayLayout is String and you can store what you want/need in it, in order to implement
horizontal/vertical alignment of scaledomains.

[2016-10-17 07:22] #180 closed, assigned to liuy97

[2016-10-17 09:04] StigNorland opened #181 "QDDT datamodel"
![skjermbilde 2016-10-17 10 52 39](https://cloud.githubusercontent.com/assets/3939393/19431618/7ac8b9c8-9459-11e6-8a63-fbe2a11ce86f.png)

[2016-10-17 10:49] #181 closed, assigned to nobody

[2016-10-17 10:51] #51 closed, assigned to StigNorland

[2016-10-17 10:52] #104 closed, assigned to nobody

[2016-10-17 10:56] StigNorland commented on #54
Add confirmation dialog when deleting elements (concepts)
Questions aren't deleted, so not necessary.

[2016-10-17 11:36] StigNorland opened #182 "Pictures in use by wiki"
![rd](https://cloud.githubusercontent.com/assets/3939393/19436332/bbf1189e-946f-11e6-893e-59aea367b8d6.png)

[2016-10-18 06:46] BenjaminNSD opened #183 "Savin problem: Scale domain"
Sarah observed that scale domain doesn't save. This has highest priority.
@StigNorland

[2016-10-18 10:24] StigNorland commented on #63
`

[code]

`

@liuy97

This is a one to one map of status codes

[2016-10-18 10:47] BenjaminNSD opened #184 "Scale domain: Bug in scale alignment"
3)  Response domain allows you to select whether scale is horizontal or vertical.  However, this selection not currently carried forward into question item.

@StigNorland

[2016-10-18 10:50] BenjaminNSD opened #185 "QuestionItem: Reuse of responsedomain versions"
We need to reuse a specific version of a responsedomain in a QI.

Reuse technology from QuestionConstruvt (when finished)

@StigNorland

[2016-10-18 11:02] BenjaminNSD opened #186 "Replace responsedomain for a questionietem from the concepthierachy"
Currently we can't detach and attach a responsedomain in questionitem in the concept window (when you click the magnifier of the questionitem as below in the picture). We need to do that.

![responsedomain_attach](https://cloud.githubusercontent.com/assets/20127077/19475179/11e80122-9533-11e6-92e3-91c363daa293.PNG)

[2016-10-18 11:03] #183 closed, assigned to StigNorland

[2016-10-18 11:10] BenjaminNSD opened #187 "QuestionItem: Remove Concept-button"
Remove concept button. Instead implement concept into question details by default (as in screenshot below)
'
![concept_button](https://cloud.githubusercontent.com/assets/20127077/19475361/045b3a64-9534-11e6-8baa-1eec0e83b66d.PNG)

[2016-10-18 11:12] StigNorland commented on #187
Use a expandable section, which load when expanded.

[2016-10-18 11:16] #182 closed, assigned to nobody

[2016-10-18 11:27] BenjaminNSD opened #188 "QuestionItem: make reuse of responsedomain user friendly"
Sarah wishes: Scroll down feature to select a response domain to add is not very user friendly .
 This applies to left menu and from concept window

Stig provides proposal

[2016-10-18 11:37] BenjaminNSD commented on #110
![qc](https://cloud.githubusercontent.com/assets/20127077/19476129/e05ea07a-9537-11e6-85ec-6e0962d5a33f.PNG)

changed the layout slightly (name renamed into Consctruct Name)
@liuy97

[2016-10-18 11:46] BenjaminNSD commented on #63
By Copy of source we mean a new element where the content is identical to that of
 an existing element but the ID is different

[2016-10-18 11:49] #184 closed, assigned to liuy97

[2016-10-18 12:09] StigNorland opened #189 "Instructions same functionality as Categories in responsedomain (add/reuse)"
Instructions  should have same functionality (added/ reused) as Categories (when creating responsedomain) when yo uadd the to Question constructs

api all ready in place. (searches description instead of name).

[2016-10-18 12:13] liuy97 commented on #63
@StigNorland ,

As you descrited, do you use the field of "change types" for both "change types" and "rational codes"? I have to parse them when I read it.

[2016-10-18 12:38] liuy97 commented on #189
@StigNorland

Refs #110

[code]

[code]

Using your latest backend today, this exception still occured.

[2016-10-18 12:49] liuy97 opened #190 "exception when creating a mixed domain"
https://dasish.github.io/qddt-client/Questions

select one question, such as "How old are you", then add a scale domain and a missing. An exception will happen when creating a mixed domain.

[code]

[2016-10-18 13:15] liuy97 commented on #63
@StigNorland ,

Did you commit your related code? I found that you did not commit your code today.

[2016-10-18 13:31] hildeorten opened #191 "Questionitem: Insert 'bryt tekst' (break text) in QuestionText"
Currently text lines can be too long to view in one window/page
Please insert 'bryt tekst' (break text) in QuestionText

[2016-10-18 13:33] liuy97 commented on #191
Do you mean that the question text is too long in the table of Questionitem? How long do you prefer?

[2016-10-18 13:38] hildeorten commented on #191
Yes, Sarah pointed to that. I think 65 signs including blancs would be good. Please see question B1a in http://www.europeansocialsurvey.org/docs/round7/questionnaire/ESS7_source_main_questionnaire_final_alert_03.pdf

[2016-10-18 13:57] BenjaminNSD commented on #191
No, question text in table QuestionItem is fine. You two talk about different things. In questions (left menu) question text works (has break text).

Sarah refers to "Add new question item" in concept window. There we must implement break text.

[2016-10-18 13:59] BenjaminNSD commented on #191
![newqi](https://cloud.githubusercontent.com/assets/20127077/19480746/db82385a-954b-11e6-868c-ccbed82b9ce0.PNG)

[2016-10-18 14:08] liuy97 commented on #191
@BenjaminNSD,

The field you tested is "name". Has the name field the same requirement of the text wrap?

[2016-10-19 06:46] BenjaminNSD commented on #191
Oh, I see. I wanted to test Question Text. Name is usually not as long as question text. So there's no need for that, but in general this could be a standard for all fields with text input.

[2016-10-19 06:47] #191 closed, assigned to liuy97

[2016-10-19 08:28] liuy97 opened #192 "building failure in Windows"
cannot find angular2-materialize

[2016-10-19 08:32] #192 closed, assigned to liuy97

[2016-10-19 11:12] liuy97 commented on #128
When a response domain has category anchors, It will fail to create a mixed domain. Refs #190.

[2016-10-19 11:12] #128 closed, assigned to liuy97, StigNorland

[2016-10-19 13:39] #54 closed, assigned to liuy97

[2016-10-19 13:45] StigNorland commented on #190
Saving a Category-hierarchy will not save any codes, as they simply donæ't belong to Categories in the first place, only when you save a responsedomain will the codes be saved (they belong to the responsedomain in the model and the managed Representation in the DDI model)
reason for that is a long story...

[2016-10-19 13:47] liuy97 commented on #190
Did you test it? I said it happened when creating a mixed domain. The mixed category has been created.

[2016-10-20 12:48] StigNorland commented on #190
@liuy97
You can assign this property regardless of kind (only Scale uses it for now) or else the new responsedomain will loose this property and alginment
newRd.DisplayLayout = old.getDisplayLayout

[2016-10-20 12:48] #190 closed, assigned to liuy97, StigNorland

[2016-10-20 12:49] StigNorland opened #193 "Assign old DisplayLaout to new responsedomain in mixed responsedomain"
newRd.DisplayLayout = old.getDisplayLayout

[2016-10-21 12:12] #63 closed, assigned to liuy97, StigNorland

[2016-10-21 12:29] #193 closed, assigned to liuy97

[2016-10-24 08:12] liuy97 commented on #62
Fixed at #63

[2016-10-24 08:12] #62 closed, assigned to liuy97

[2016-10-24 11:56] StigNorland commented on #179
There is a bug in the enver system, working on it.

[2016-10-24 12:21] StigNorland opened #194 "Save as new based on"
When saving as new based on 2 things needs to be in order.
value of Id copied to field BasedOnObject
Id cleared.

This will ensure that the link between old and new element is tracked and that when saving the new element gets a new ID.

[2016-10-24 13:41] StigNorland commented on #110
Show questionItem
I have updated api, the correct version of the questionItem is automatically returned from the backend.
And it shouldn't update/overwrite current version of Question item (it is not updateable)

[2016-10-24 14:10] #194 closed, assigned to liuy97

[2016-10-25 09:32] #189 closed, assigned to liuy97

[2016-10-25 10:59] liuy97 commented on #187
@BenjaminNSD,

Do you agree with Stig's suggestion?

[2016-10-25 11:06] StigNorland commented on #187
http://materializecss.com/collapsible.html

[2016-10-25 11:26] #186 closed, assigned to liuy97

[2016-10-25 11:27] liuy97 commented on #186
Open editing domain from a modal dialog. However, it will not work. The reason is given in #114.

[2016-10-26 06:51] BenjaminNSD opened #195 "QuestionConstruct: does not save"
After refresh QuestionConstruct is away. Does it save in the backend?

[2016-10-26 06:54] BenjaminNSD opened #196 "QuestionConstruct: Preview of QuestionText"
In table QuestionText is not displayed

[2016-10-26 06:56] BenjaminNSD opened #197 "QueestionConstruct: Reuse of instructions"
Stig wrote:
"Now the Question Construct works well on the front end, but there is a bug in the back end, preventing you from reusing intructions, this will be fixed shortly."

[2016-10-26 07:05] BenjaminNSD opened #198 "QuestionItem: Edit ResponseDomain: not possible to save as version"
From QuestionItem it's not possible to edit the ResponseDomain correctly. It only works to save as "work in progress". Saved as version, Based-on or Saved as new is not possible to choose

[2016-10-26 07:48] #198 closed, assigned to liuy97

[2016-10-26 07:56] #196 closed, assigned to liuy97

[2016-10-26 10:27] liuy97 commented on #177
@BenjaminNSD ,

Do all of the clickable qddt elements use URL links to popup windows? We use the button to trigger popup window at the moment, such as response domains from a question item UI.

[2016-10-26 10:37] BenjaminNSD commented on #177
Yes, I think so.

Please note that the elements when clicking on the link should not be edibale in the popup window!

[2016-10-26 10:48] liuy97 commented on #177
For example in questionitem, do you want to replace button with clickable links or  add  new clickable links?
![screenshot from 2016-10-26 12-44-09](https://cloud.githubusercontent.com/assets/2961144/19723134/38aa975a-9b7a-11e6-8f2c-a0b9c3863862.png)
![screenshot from 2016-10-26 12-44-51](https://cloud.githubusercontent.com/assets/2961144/19723146/3fd25888-9b7a-11e6-8138-314d00897697.png)

[2016-10-26 10:51] BenjaminNSD commented on #177
I will discuss that with Hilde in a few minutes

[2016-10-26 11:37] BenjaminNSD commented on #177
We don't want to replace the magnifier-button now. The clickable link should primarly used for the usd-by option.

[2016-10-26 11:50] liuy97 commented on #177
So this issue should be closed, which is reduplicated in #136.

[2016-10-26 11:50] #177 closed, assigned to liuy97

[2016-10-26 13:28] BenjaminNSD opened #199 "QuestionItem: display responsedomain in table"
![rp_in_qi](https://cloud.githubusercontent.com/assets/20127077/19727697/c4f3da30-9b90-11e6-85ca-32513c287019.PNG)

[2016-10-26 13:35] liuy97 commented on #199
When do so, the backend will report the following exception. The unique name is required.

[code]

[2016-10-26 13:38] #195 closed, assigned to StigNorland

[2016-10-26 13:38] #197 closed, assigned to StigNorland

[2016-10-26 13:39] #187 closed, assigned to liuy97

[2016-10-26 13:41] hildeorten commented on #162
@StigNorland Currently 'Work in progress' saves are stored with the last used business version RationaleCode and is given a new business version, based on the previously used code. Concept and ScaleDomain is tested for this today. Other elements not yet tested for this.

[2016-10-27 06:19] StigNorland commented on #162
That is because the front end doesn't use the returned saves in it's local store, meaning that any changes made on the server is overridden by the next save from the client.

To solve this, the client has to update it's local copy of **any object** to **every save** made.

[2016-10-27 08:46] liuy97 commented on #162
Go to "Feel happy", I get the same result which is not because of updating local objects.
![screenshot from 2016-10-27 10-45-39](https://cloud.githubusercontent.com/assets/2961144/19760587/ab634428-9c32-11e6-80bf-41e1821a69cb.png)

[2016-10-27 08:47] StigNorland commented on #199
Now the back end support reusing names as long as the managed representation is not the same.

[2016-10-27 08:50] StigNorland commented on #41
What can be done to remedy this?

[2016-10-27 08:57] #199 closed, assigned to liuy97

[2016-10-27 09:12] StigNorland commented on #162
look at the return value from the first post, is says version 2.0
when you post again, you send version 1.0
![skjermbilde 2016-10-27 11 09 35](https://cloud.githubusercontent.com/assets/3939393/19761406/1ce1fbdc-9c36-11e6-8f70-07521dee969f.png)

[2016-10-27 09:15] StigNorland commented on #162
Any changes made to the object on the server is not updated on the client.
if you did, the grid would also show the newly inserted element.
Now we need to manually refresh the element list to get the changes from the server again.

[2016-10-27 12:37] BenjaminNSD opened #200 "Response domains: Scaledomain: search is now case-sensitive"
When searching for "Test_StronglyAgree" we have to type Uppercase T

haven't tested other responsedomaintypes

[2016-10-27 12:40] BenjaminNSD opened #201 "Save comment: should be empty as default"
Comments from the last save remains in the Save comment field. Should be empty. This applies for all elements

[2016-10-27 12:43] liuy97 commented on #200
Refs #176, it's a problem from the backend.

[2016-10-27 12:49] BenjaminNSD opened #202 "Scaledomain: Some bugs with codes and categories in anchorpoints"
See attachment
[Scale domain, assigning anchorpoints to values.pdf](https://github.com/DASISH/qddt-client/files/555819/Scale.domain.assigning.anchorpoints.to.values.pdf)

[2016-10-27 12:56] #201 closed, assigned to liuy97

[2016-10-28 07:07] StigNorland commented on #200
responsedomain searches have never been case insensetive, and it is he same for all responsdomains.
It will be fixed in todays release.

[2016-10-28 07:07] #200 closed, assigned to StigNorland

[2016-10-28 07:09] StigNorland commented on #202
There are problems in the back end too (working on it)

[2016-10-28 12:34] hildeorten commented on #110
@liuy97 Please find attached a new layout that shows preferred options for searching up QuestionItems to be used by the QuestionConstruct, and for selecting the business version of the searched up question item that the user would like to use
[QuestionConstruct_select version v2.pdf](https://github.com/DASISH/qddt-client/files/558326/QuestionConstruct_select.version.v2.pdf)

[2016-11-02 09:28] StigNorland opened #203 "Correct sorting order in all grids"
By modifying the services all the grids can be sorted correctly over all pages.

Category -> ?sort=label,asc
Question ->   ?sort=question.question,asc
RD -> ?sort=name,asc

[2016-11-02 09:44] StigNorland commented on #45
Many changes has been made to the model since June.

QuestionItem question + response domain remain quite large, but it's needed when displaying an instrument.
solution could be to make the instrument page fairly small.

[2016-11-02 09:44] StigNorland commented on #29
this has been solved

[2016-11-02 09:44] #29 closed, assigned to liuy97

[2016-11-02 09:49] StigNorland commented on #18
This can be solved by deleting and recreating a Concept, but only when first created (i.e. you created the concept under the wrong parent)
By moving a concept to another parent (concept) on the client and saving the structure, the concept should be saved under the new parent concept.

[2016-11-02 10:05] StigNorland commented on #188
To solve this we would need to change our fundamental approach to solving the GUI. There is a limit of 1 modal window (focused window) in our chosen technology (and it makes sense).
Thus we cannot have several windows on top of each other. The modal window is out approach to filling in sub tasks, and in order to fix this we would need to change the way the whole app is working.
Unfortunately this

[2016-11-02 13:25] #202 closed, assigned to liuy97

[2016-11-02 14:14] StigNorland commented on #48
icons have been changed, this issue isn't relevant anymore.

[2016-11-02 14:14] #48 closed, assigned to nobody

[2016-11-02 14:14] StigNorland commented on #55
fixed in other issue.

[2016-11-02 14:14] #55 closed, assigned to StigNorland

[2016-11-02 14:20] hildeorten opened #204 "Search - QuestionItem: Implement search in name"
@StigNorland

It is currently possible to search for QuestionItem by search in the QuestionText. Please implement search in the question Name in addition.

(Good if this can be implemented before #132 is fully solved).

[2016-11-03 09:00] hildeorten commented on #162
@liuy97

Hi I tested categories again and found that the version numbering now seems to work. However there is some problem with the rationale code (Reason) when choosing 'Save as work in progress' after a business version, please see the attached
[Versioning reason error.pdf](https://github.com/DASISH/qddt-client/files/568494/Versioning.reason.error.pdf)

[2016-11-03 09:31] liuy97 commented on #162
What you reported is not related to this issue.

[2016-11-03 09:42] #203 closed, assigned to liuy97

[2016-11-03 09:50] liuy97 opened #205 "incorrect rational code"
@hildeorten,

Hi I tested categories again and found that the version numbering now seems to work. However there is some problem with the rationale code (Reason) when choosing 'Save as work in progress' after a business version, please see the attached.

![screenshot from 2016-11-03 10-50-03](https://cloud.githubusercontent.com/assets/2961144/19961519/529a3b40-a1b3-11e6-83dc-887f444bdb37.png)

[2016-11-03 09:51] liuy97 commented on #162
Refs #205 , close this issue.

[2016-11-03 09:51] #162 closed, assigned to liuy97

[2016-11-03 10:18] #205 closed, assigned to liuy97

[2016-11-03 13:03] StigNorland opened #206 "Suggestion; question text and responsedomain first in view"
@hildeorten  @BenjaminNSD  What do you think?

![skjermbilde 2016-11-03 13 53 17](https://cloud.githubusercontent.com/assets/3939393/19966941/4fb40648-a1ce-11e6-8839-0aed666c728f.png)

[2016-11-03 13:09] StigNorland commented on #204
That is already supported by the api.

/page/search",
value = "name",defaultValue = "%"
value = "question",defaultValue = "%"

[2016-11-03 13:29] liuy97 commented on #204
@hildeorten ,

What's the logic relationship of two fields (name and question")? Do you want to search both fields or one of fields? Do you want to searching keys contained in both fields (Logic and) or one of fields (Logic or) ?

[2016-11-03 13:36] StigNorland commented on #204
it is  name and questiontext (logic and)
if you don't specify a param, wildcard is presumed.

findByNameLikeIgnoreCaseAndQuestionQuestionLikeIgnoreCase ("%","%") is default

The reason for using AND is to limit results, not expanding them.

[2016-11-03 14:01] hildeorten commented on #204
A)
Search in each of the two fields separately?

Search: QuestionText contains.......
Search: Name contains.......

B)
Alternatively- single search accessing both fields as explained by Stig
('and' logic).
Retrieval of hits based on 'or' logic (inclusive disjunction).
Example: If the word 'Test' is found in the questiontext or the name, or
in both, then the QuestionItem is retreived.

What is more

[2016-11-03 14:08] liuy97 commented on #204
@hildeorten ,

As stig said, the backend only support Logic and. I just tell you the potential problem. It's not the problem at the frontend. Based on the current search API, the frontend only supports Logic and.

[2016-11-03 14:16] hildeorten commented on #204
Thanks for explaining. I hope this does not imply that you need to have
hits for the same word, for example 'test', in both the name and the
question text to get a retreival of the question item?
The common case in the ESS is that the question name and the
questiontext contain different words, so if this is the case it is
better to contain to search only in the question text for now.

skrev den 03

[2016-11-03 14:26] #204 closed, assigned to liuy97

[2016-11-03 14:34] StigNorland commented on #204
It is a very simple change to make it a inclusive disjunction, OR
then you'll type a word and you'll get all hits from both name and qtext.

[2016-11-03 14:35] hildeorten commented on #204
Ok would be good!

Stig Norland skrev den 03.11.2016 15:34:

##

Hilde Orten
Spesialrådgiver | Special Adviser
Seksjon for datatjenester | Data Services
T: (+47) 55 58 89 30

NSD – Norsk senter for forskningsdata AS | NSD – Norwegian Centre for
Research Data
Harald Hårfagres gate 29, NO-5007 Bergen
T: (+47) 55 58 21 17
postmottak@nsd.no mailto:postmottak@nsd.no     www.nsd.no
http://www.nsd.no

[2016-11-03 14:42] StigNorland commented on #109
"/controlconstruct/create", RequestMethod.POST,
headers = "**content-type=multipart/form-data**")
returns ControlConstruct
RequestParam("controlconstruct") ControlConstruct instance,
RequestParam("files") MultipartFile[] files) throws FileUploadException

[2016-11-03 14:59] liuy97 commented on #109
@StigNorland,

Do you create a demo using this api?  Has  "content-type=multipart/form-data" been used, even without files?

[2016-11-04 12:31] liuy97 commented on #109
@StigNorland,
bassed on https://github.com/DASISH/qddt-service/commit/1f512dc1d1532335355d603b59f1c7a80a2e6eef

post

[code]

formdata with Name("ccc")

[code]

[code]

But it still has same exception, even if adding a questionitem.

[2016-11-04 13:04] BenjaminNSD opened #207 "QuestionItem: Minus Button for responsedomain"
![misxeddomain1](https://cloud.githubusercontent.com/assets/20127077/20006381/8f1cc0a8-a297-11e6-86e6-0322740da171.PNG)
![misxeddomain2](https://cloud.githubusercontent.com/assets/20127077/20006385/929277b4-a297-11e6-85ca-ad507d3bfbf0.PNG)
![misxeddomain3](https://cloud.githubusercontent.com/assets/20127077/20006388/95b2944c-a297-11e6-8302-e933a2848f76.PNG)

[2016-11-07 09:57] #207 closed, assigned to liuy97

[2016-11-07 12:26] hildeorten opened #208 "Search for QuestionItem"
Please see proposal in the attached pdf
[Search for QuestionItem.pdf](https://github.com/DASISH/qddt-client/files/575289/Search.for.QuestionItem.pdf)

[2016-11-07 14:06] StigNorland commented on #136
I have added a new structure to QI  conceptRefs[{},{}]
https://github.com/DASISH/qddt-client/wiki/Json-Concept
There is no longer any use calling concept/list/by-QuestionItem/{uuuid}
as every QI will return its references

There is also no point to call questionitem/page?&page=0
as all questionItems in use by concept is returned within concept.

@liuy97
If you think this structure is cumbersome to

[2016-11-07 14:13] #132 closed, assigned to hildeorten, BenjaminNSD

[2016-11-07 14:14] StigNorland commented on #208
Back end has been changed and search in both name and questiontext.

[2016-11-08 13:19] #208 closed, assigned to liuy97

[2016-11-08 14:53] liuy97 commented on #136
@StigNorland,

Are all of related references (studies and modules) included in conceptRefs?

Please create same refs for response domain.

[2016-11-08 15:31] hildeorten commented on #136
Hi,

The idea here is to get all the Studies and Modules that use (reference)
one QuestionItem or ResponseDomain

liuy97 skrev den 08.11.2016 15:53:

##

Hilde Orten
Spesialrådgiver | Special Adviser
Seksjon for datatjenester | Data Services
T: (+47) 55 58 89 30

NSD – Norsk senter for forskningsdata AS | NSD – Norwegian Centre for
Research Data
Harald Hårfagres gate 29, NO-5007 Bergen
T: (+47) 55

[2016-11-09 13:19] liuy97 commented on #175
It can be fixed by removing Class "input-field" to some extent. The animation effect will be lost.

[2016-11-09 13:45] #175 closed, assigned to liuy97

[2016-11-09 14:41] liuy97 commented on #60
The demo has been implemented.

[2016-11-09 14:41] #60 closed, assigned to liuy97, StigNorland

[2016-11-09 14:59] hildeorten commented on #60
liuy97 skrev den 09.11.2016 15:41:

Great! Thank you

##

Hilde Orten
Spesialrådgiver | Special Adviser
Seksjon for datatjenester | Data Services
T: (+47) 55 58 89 30

NSD – Norsk senter for forskningsdata AS | NSD – Norwegian Centre for
Research Data
Harald Hårfagres gate 29, NO-5007 Bergen
T: (+47) 55 58 21 17
postmottak@nsd.no mailto:postmottak@nsd.no     www.nsd.no
http://www.nsd.no

[2016-11-10 12:32] StigNorland opened #209 "Dynamic preview of responsedomains"
For best user experience the responsedomain preview should always reflect what values it consist of.

i.e. if the use add an element eor change an element, this should be reflected in the preview.

[2016-11-10 13:26] StigNorland opened #210 "Limit the number of revision sent to the client"
param available for audit/CLASS/{id}/all&i**gnorechangekinds=IN_DEVELOPMENT,UPDATED_HIERARCY_RELATION,UPDATED_PARENT**

[2016-11-10 13:35] StigNorland commented on #210
@liuy97 ignorechangekinds is optional with
IN_DEVELOPMENT, UPDATED_HIERARCY_RELATION, UPDATED_PARENT as default filter

[2016-11-10 13:35] #210 closed, assigned to StigNorland

[2016-11-10 14:14] StigNorland commented on #109
@liuy97
Try to upload a document with this adress

ownerUUID is the id of the element that should have a file assosiated.
In prinsiple any object/class could have files assosiated, but only QuestionConstruct and Topics have an otherMaterials array attached to them.

othermaterial/upload/{ownerUUID}
returnvalue is an OtherMaterial object ->
    UUID **Id**
    DateTime Modified
    User ModifiedBy

[2016-11-10 14:27] StigNorland opened #211 "Instrument page"
Instrument are containers of ControlConstructs (QuetionConstructs)
and you should be able to add & remove QC and arrange them.
QC have the same hierarchy as concepts (a QC can have QC children)

Use the same create QC as in Construct page, but needs to put newly created QC into the instrument
(set instrumentid in QC)

[2016-11-10 14:32] StigNorland opened #212 "UAR"
ADD access rights to user object

3 levels -> NO_ACCESS, READONLY, WRITE

backend should enforce, for write operations.

Some pages / menu choices should be shown/hidden by GROUP membership.

Ho, Oct 6th: new access rights document from Sarah:[QDDT User Access Rights-1.docx](https://github.com/DASISH/qddt-client/files/1362594/QDDT.User.Access.Rights-1.docx) Change since vrsion in the technical rep

[2016-11-10 14:33] StigNorland opened #213 "publish prod and dev sites"

[2016-11-11 08:33] liuy97 commented on #109
@StigNorland ,

Post **/othermaterial/upload/7f000101-584e-1d1d-8158-528363f00006**
The id is a construct id.

[code]

[2016-11-11 08:48] StigNorland commented on #109
I will look into that.

[2016-11-11 14:44] hildeorten opened #214 "Page layout in Study, Survey, Module and QuestionItem"
In general it would be good to move the versioning fields to the bottom of an element page, but above the comments.

Proposal for Study, Survey, Module
[Page layout Survey, Study, Module.pdf](https://github.com/DASISH/qddt-client/files/585916/Page.layout.Survey.Study.Module.pdf)

Proposal for QuestionItem
[QuestionItem_pagelayout.pdf](https://github.com/DASISH/qddt-client/files/585998/QuestionItem

[2016-11-11 15:08] #209 closed, assigned to liuy97

[2016-11-14 08:44] liuy97 commented on #214
The page layout of Question item is fixed at ##209.

[2016-11-14 08:44] #214 closed, assigned to liuy97

[2016-11-14 13:11] hildeorten opened #215 "New response domain: Be able to create new domain from scratch without having to add ‘Save comment’"
It should be possible to submit all types of objects of the tool without having to version them manually first. Business version automatically set to v1.0. This now works for all other objects, QuestionItem, Concept etc. but for ResponseDomain you still have to fill in a save comment when you create a new object, please  see attachment
[New response domain.docx](https://github.com/DASISH/qddt-clie

[2016-11-15 09:40] #215 closed, assigned to liuy97

[2016-11-15 09:45] hildeorten opened #216 "QuestionItem: Automatic business versioning of QI when Removing/adding concept"
Automatic versioning of questionItem when Removing/adding concept. Removing/adding concepts should result in a new major business version.

[2016-11-15 12:00] BenjaminNSD opened #217 "MixedDomain: Display error in ScaleDomain"
When creating a mixed domain in QuestionItem (scale domain + missing domain), a horizontal scale will be displayed as a vertical scale.

This should be corrected. The missing could be attached at the end of the scale on the rightern side. If that doesn't work, please move the missing below the scale

[2016-11-15 12:53] #217 closed, assigned to liuy97

[2016-11-15 13:11] hildeorten commented on #110
@liuy97 In the attachment you find 6 proposals for changes to QuestionConstruct (as of today)
[QuestionContstruct_2.pdf](https://github.com/DASISH/qddt-client/files/592062/QuestionContstruct_2.pdf)

[2016-11-15 13:45] BenjaminNSD opened #218 "Bug in QuestionItem/timestamp: when attaching a concept to QI"
I created a new question "test 11"  version 1.0 Then I attached this question to a concept. Afterwards I checked timestamp for the QuestionItem. Version 1.0 appears twice

![bug_timestamp](https://cloud.githubusercontent.com/assets/20127077/20307962/2b1fb174-ab42-11e6-9ae4-fae196f6a505.PNG)

[2016-11-16 10:01] #131 closed, assigned to liuy97

[2016-11-16 11:56] hildeorten opened #219 "Version number on top of Categories, ResponseDomain, QuestionItem and QuestionConstruct: Make smaller"
The version number on the top of elements Categories, ResponseDomain, QuestionItem and QuestionConstruct takes a lot of space. It is, however, useful to have this. Would it be possible to make the version number on the top of those pages smaller?

[2016-11-16 12:35] BenjaminNSD commented on #136
![used_by1](https://cloud.githubusercontent.com/assets/20127077/20347441/793212e8-ac01-11e6-8040-7988d26ca436.PNG)

[2016-11-16 12:35] BenjaminNSD commented on #136
![used_by2](https://cloud.githubusercontent.com/assets/20127077/20347453/812c5b84-ac01-11e6-9d7f-19b3ca62e52d.PNG)

[2016-11-16 12:35] #136 closed, assigned to liuy97

[2016-11-16 12:36] BenjaminNSD opened #220 "Used_by: Improvement"
We have discussed an improvement for Used by:

![used_by1](https://cloud.githubusercontent.com/assets/20127077/20347488/b3f1f1dc-ac01-11e6-980d-3f53631692ae.PNG)
![used_by2](https://cloud.githubusercontent.com/assets/20127077/20347776/ccdde5ec-ac02-11e6-9091-916f75738bdf.PNG)

[2016-11-16 13:04] #219 closed, assigned to liuy97

[2016-11-16 13:34] BenjaminNSD commented on #220
We can wait working on this issue until the meeting thursday. 17.11.

[2016-11-17 08:33] hildeorten opened #221 "Add reference to based-on object to versioning details for versionable objects"
For QuestionItem and other versionable objects: Add  reference to based-on object in version details as displayed in the attachment
[Add based-on reference to version details.pdf](https://github.com/DASISH/qddt-client/files/596883/Add.based-on.reference.to.version.details.pdf)

[2016-11-17 13:35] StigNorland commented on #218
I will fix it as it is confusing, but it is technical correct.
QuestionItem isn't changed in anyway by attaching it to a concept (that includes save reason and changekind), but since it is a change in relationship the revision system has to keep a copy of this element by this save.
By modifying status, the element is changed, but this is absolutely more sensible for a user perspective.